<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>合同发票列表</title>
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">

<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/magicsuggest-min.css" rel="stylesheet">

<script type="text/javascript" src="${system_js}/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
<script type="text/javascript" src="${system_js}/system.js"></script>
<script src="${plugins}/pagination/jquery.pagination.js"></script>
<script type="text/javascript" src="${plugins}/laydate/laydate.js"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script src="${system_js}/magicsuggest-min.js"></script>
<script type="text/javascript">

$(function(){
	var s = $('#business').magicSuggest({
		width : 190,
		highlight : true,
		data : '${base}/business/businessSelect',
		method : 'get',
		queryParam : "realName",
		maxSelection : 1,
		displayField : "realName",
		allowFreeEntries : false,
		renderer : function(v) {
			return'<div>' +
	        '<div >' +
            '<span>' + v.realName + '</span>' +
            '</div>' +
        '<div style="clear:both;"></div>';
		}
	});	
	
	
	
});


</script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-title">
						<ol class="breadcrumb">
							<li class="active"><strong>待处理合同发票列表</strong></li>
						</ol>
					</div>
					<div class="ibox ibox-table">
						
						<form action="${base}/contract/contractInvoiceList.do" method="post"
							class="form-horizontal m-t" id="search_from">
							
								<div class="form-group" >
								<div class="col-sm-2">
										<input type="text"  name="applyCode" class="form-control"
											placeholder="申请编号" value="${searcher.applyCode!?html}">
								</div>
								
								<div class="col-sm-2">
										<input type="text"  name="code" class="form-control"
											placeholder="合同编号" value="${searcher.code!?html}">
								</div>
								
								<div class="col-sm-2">
										<input type="text" name="name"  class="form-control"
											placeholder="合同名称" value="${searcher.name!?html}">
								</div>
								
								<div class="col-sm-2">
									<input type="text" name="applyPerson"  class="form-control"
											placeholder="申请人" value="${searcher.applyPerson!?html}">
												
								</div>
								
							</div>	
							
							
								
							<div class="form-group" >
							
								<div class="col-sm-2">
									<select class="form-control" name="marketingCenter" data-value="${searcher.marketingCenter!?html}">
										<option selected value="">--请选择营销中心--</option>
											<#if testingTypeList??> 
												<#list testingTypeList as entry>
												<option  value="${entry.id!?html}">${entry.name!?html}</option>
											</#list>
											</#if>
										</select>
								</div>
								
								<div class="col-sm-3">
										<button type="submit" class="btn btn-sm btn-success">
											<i class="fa fa-search"></i> 查询
										</button>
										<button type="button" class="btn btn-sm btn-success"
											onclick="clearHiddenCondition('search_from')">
											<i class="fa fa-remove"></i> 清空
										</button>
								</div>
							
								
								
							</div>
								
						</form>
						<table
							class="table table-striped table-bordered table-hover table-responsive">
							<thead>
								<tr>
									<td>序号</td>
									<td>申请编号</td>
									<td>合同编号</td>
									<td>合同名称</td>
									<td>营销中心</td>
									<td>申请人</td>
									<td>乙方</td>
									<td>结算方式</td>
									<td>开票单位</td>
									<td>申请金额</td>
									<td>申请时间</td>
									<th class="flexible-btns flexible-btns-3">操作</th>
								</tr>
							</thead>
							<tbody>
								<#if pagination.records?has_content> 
								<#list pagination.records as record>
								<tr>
									<td>${record_index + 1}</td>
									<td>${record.code!?html}</td>
									<td>${record.contract.code!?html}</td>
	                                <td>${record.contract.name!?html}</td>
									<td>
										<#if record.contract.marketingCenter??>
                                    		<#if record.contract.marketingCenter == 1>临床遗传</#if>
	                                    	<#if record.contract.marketingCenter == 2>临床肿瘤</#if>
	                                    	<#if record.contract.marketingCenter == 3>健康筛查</#if>
	                                    	<#if record.contract.marketingCenter == 4>科技服务</#if>
	                                    </#if>
									</td>
									<td>${record.creatorId!?html}</td>
									<td><#if record.contractPartyB??>${record.contractPartyB.contactName!?html}</#if></td>
									<td><@dict_entry_text category="SETTLEMENT_METHOD" value=record.contractContent.settlementMode /></td>
									<td><#if record.contractPartyB??>${record.contractPartyB.companyName!?html}</#if></td>
									<td>${((record.invoiceAmount/100)!0)?string('0.##')}</td>
									<td>${record.applyTime!?string('yyyy-MM-dd HH:mm:ss')}</td>
									
									<td class="flexible-btns flexible-btns-2">
										
										<@smm_security_resource resource = "/contract/viewContractInvoice.do"> 
											<a
												href="${base}/contract/viewContractInvoice.do?id=${record.contract.id}&invoiceId=${record.id}"
												class="btn btn-sm btn-success"> <i
													class="fa fa-search-plus"></i>查看
											</a>
										</@smm_security_resource>
										
										<@smm_security_resource resource = "/contract/handleContractInvoice.do"> 
										<a  href="${base}/contract/handleContractInvoice.do?id=${record.contract.id}&invoiceId=${record.id}" 
											class="btn btn-sm btn-success"  > <i
												class="fa fa-search-plus"></i>处理
										</a>
										</@smm_security_resource>
									</td>
								</tr>
								</#list> <#else>
								<tr>
									<td colspan="12">暂无数据</td>
								</tr>
								</#if>
							</tbody>
						</table>
						<#include "../../inc/pagination.html" />
					</div>
				</div>
			</div>
		</div>
	</div>


	


</body>


</html>