<tr>
    <input type="hidden" class="nextStepInput"/>
    <input type="hidden" class="locusTypeInput"/>
    <input type="hidden" class="validationMethodInput"/>
    <input type="hidden" class="familySituationInput"/>
    <input type="hidden" class="validationProtocolsInput"/>
    <input type="hidden" class="descrInput"/>
    
    <input type="hidden" class="hgvsInput"/>
    <input type="hidden" class="diseaseInput"/>
    <input type="hidden" class="tagInput"/>
    <input type="hidden" class="publicationInput"/>
    <input type="hidden" class="effectInput"/>
    
    <input type="hidden" class="sampleCodeInput"/>
    <input type="hidden" class="geneSymbolInput"/>
    <input type="hidden" class="chromosomalLocationInput"/>
    <input type="hidden" class="refTranscriptInput"/>
    <input type="hidden" class="exonInput"/>
    
    <input type="hidden" class="nucleotideChangesInput"/>
    <input type="hidden" class="aminoAcidChangesInput"/>
    <input type="hidden" class="geneTypeInput"/>
    <input type="hidden" class="normalFrequencyInput"/>
    <input type="hidden" class="pathogenicAnalysisInput"/>
    
    <input type="hidden" class="inhertInput"/>
    <input type="hidden" class="diseasePhenotypeInput"/>
    <input type="hidden" class="clinicalPhenotypeInput"/>
    <input type="hidden" class="diseaseInformationInput"/>
    <input type="hidden" class="clinvarDatabaseInput"/>
    
    <input type="hidden" class="refAltFreInput"/>
    <input type="hidden" class="chrInput"/>
    <input type="hidden" class="beginLocationInput"/>
    <input type="hidden" class="endLocationInput"/>
    <input type="hidden" class="refBaseInput"/>
    
    <input type="hidden" class="altBaseInput"/>
    <input type="hidden" class="mutRatioInput"/>
    <input type="hidden" class="refCountInput"/>
    <input type="hidden" class="mutCountInput"/>
    <input type="hidden" class="depthInput"/>
    
    <input type="hidden" class="mutationTypeInput"/>
    <input type="hidden" class="geneRegionInput"/>
    <input type="hidden" class="cytoBandInput"/>
    <input type="hidden" class="dbsnp147Input"/>
    <input type="hidden" class="pathSNPInput"/>
    
    <input type="hidden" class="mutInNormalInput"/>
    <input type="hidden" class="genome1000Input"/>
    <input type="hidden" class="mutInDatabaseInput"/>
    <input type="hidden" class="all1000g2015augInput"/>
    <input type="hidden" class="ESP6500siInput"/>
    
    <input type="hidden" class="inhouseInput"/>
    <input type="hidden" class="exACDatabaseInput"/>
    <input type="hidden" class="exACEASInput"/>
    <input type="hidden" class="SIFTInput"/>
    <input type="hidden" class="SIFTPredictInput"/>
    
    <input type="hidden" class="polyPhen2Input"/>
    <input type="hidden" class="polyPhen2PredictInput"/>
    <input type="hidden" class="mutationTasterInput"/>
    <input type="hidden" class="mutationTasterPredictInput"/>
    <input type="hidden" class="GERPInput"/>
    
    <input type="hidden" class="GERPPredictInput"/>
    <input type="hidden" class="SPIDEXInput"/>
    <input type="hidden" class="AAChangeInput"/>
    <input type="hidden" class="dbNsfpInterProInput"/>
    <input type="hidden" class="REVELScoreInput"/>
    
    <input type="hidden" class="MCAPScoreInput"/>
    <input type="hidden" class="MCAPPredInput"/>
    <input type="hidden" class="upstreamGeneInput"/>
    <input type="hidden" class="downstreamGeneInput"/>
    <input type="hidden" class="referenceSampleInput"/>
    
    <input type="hidden" class="abnormalReasonInput"/>
    
   <td class="data_index"></td>
   <td class="nextStep"></td>
   <td class="locusType"></td>
   <td class="validationMethod"></td>
   <td class="familySituation"></td>
   <td class="validationProtocols"></td>
   <td class="descr"></td>
   
   <td class="hgvs"></td>
   <td class="disease"></td>
   <td class="tag"></td>
   <td class="publication"></td>
   <td class="effect"></td>
   
   <td class="sampleCode"></td>
   <td class="geneSymbol"></td>
   <td class="chromosomalLocation"></td>
   <td class="refTranscript"></td>
   <td class="exon"></td>
   
   <td class="nucleotideChanges"></td>
   <td class="aminoAcidChanges"></td>
   <td class="geneType"></td>
   <td class="normalFrequency"></td>
   <td class="pathogenicAnalysis"></td>
   
   <td class="inhert"></td>
   <td class="diseasePhenotype"></td>
   <td class="clinicalPhenotype"></td>
   <td class="diseaseInformation"></td>
   <td class="clinvarDatabase"></td>
   
   <td class="refAltFre"></td>
   <td class="chr"></td>
   <td class="beginLocation"></td>
   <td class="endLocation"></td>
   <td class="refBase"></td>
   
   <td class="altBase"></td>
   <td class="mutRatio"></td>
   <td class="refCount"></td>
   <td class="mutCount"></td>
   <td class="depth"></td>
   
   <td class="mutationType"></td>
   <td class="geneRegion"></td>
   <td class="cytoBand"></td>
   <td class="dbsnp147"></td>
   <td class="pathSNP"></td>
   
   <td class="mutInNormal"></td>
   <td class="genome1000"></td>
   <td class="mutInDatabase"></td>
   <td class="all1000g2015aug"></td>
   <td class="ESP6500si"></td>
   
   <td class="inhouse"></td>
   <td class="exACDatabase"></td>
   <td class="exACEAS"></td>
   <td class="SIFT"></td>
   <td class="SIFTPredict"></td>
   
   <td class="polyPhen2"></td>
   <td class="polyPhen2Predict"></td>
   <td class="mutationTaster"></td>
   <td class="mutationTasterPredict"></td>
   <td class="GERP"></td>
   
   <td class="GERPPredict"></td>
   <td class="SPIDEX"></td>
   <td class="AAChange"></td>
   <td class="dbNsfpInterPro"></td>
   <td class="REVELScore"></td>
   
   <td class="MCAPScore"></td>
   <td class="MCAPPred"></td>
   <td class="upstreamGene"></td>
   <td class="downstreamGene"></td>
   <td class="referenceSample"></td>
   
   <td class="abnormalReason"></td>
</tr>