<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>新增探针</title>
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">



<script src="${system_js}/jquery.min.js?v=2.1.4"></script>	
<script src="${system_js}/bootstrap.min.js?v=3.3.6"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script src="${system_js}/system.js?v=1.0.0"></script> 



<script type="text/javascript" src="${plugins}/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/additional-methods.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/localization/messages_zh.min.js"></script>

<style>
button.btn.btn-default.dropdown-toggle {
    padding: 14px;
    background-color: white;
    color: #c5c5c5;
    border-color: #e5e6e7;
</style>

<script>

$().ready(function () {

    $("#sysconfigForm").validate({
        rules: {
        	name:  {
        		required:true,
        		
        		remote: {
        		    url: "${base}/sysconfig/validate.do",     //后台处理程序
        		    type: "post",               //数据发送方式
        		    dataType: "json",           //接受数据格式   
        		    data: {                     //要传递的数据
        		        code: function() {
        		            return $("#name").val();
        		        },
        		        id:function() {
        		            return $("#id").val();
        		        }
        		    }
        		}
        	},
        	value: {
        		required:true
        	}
           
        },
        messages: {
        	value:  {
                required: "请输入配置项参数值"
            	
            },
            name:  {
            	required: "请输入配置项",
           
            	remote:"名称已经存在"
            }
           
        }
    });
    
    changeFormAttr();
});   		    
</script>
<style>
.error {
	color: red;
}
</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-title">
						<ol class="breadcrumb">
							<li><a href="" onclick="history.go(-1)">系统配置</a></li>
							
							<li class="active"><strong>${(flag)!?html}</strong></li>
						</ol>
					</div>
				</div>
				<div class="ibox">
					<div class="ibox-title">
						<h5>系统配置</h5>
					</div>
					<div class="ibox-content">
						<form id="sysconfigForm" class="form-horizontal m-t"
							action="${base}/sysconfig/sysconfigModify.do" method="post"
							enctype='application/json'>
							<input type="hidden" name="id" id="id" value="${(sysconfig.id)!?html}" />
						
							<fieldset>
							<div class="form-group">
								
									
									<label class="col-sm-2 control-label control-required">配置项：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" name="name"
											id="name" value="${(sysconfig.name)!?html}" />
									</div>
									
									<label class="col-sm-2 control-label control-required">参数值：</label>
									
									<div class="col-sm-3">
										<input type="text" class="form-control" name="value"
											id="value" value="${(sysconfig.value)!?html}" />
									</div>
									
								</div>
								
								<div class="form-group">
								
									
									<label class="col-sm-2 control-label">配置项描述：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" name="remark"
											id="remark" value="${(sysconfig.remark)!?html}" />
											
											

								
									
									
									</div>
									
									
								</div>
								
								
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-2">
								
										<button type="submit"  class="btn btn-primary" >保存</button>
										<button class="btn btn-primary" type="button" onclick="history.go(-1)">返回</button>
										
									</div>
									<div class="col-sm-4 col-sm-offset-2"></div>
									<div class="col-sm-4 col-sm-offset-2"></div>
								</div>
								
							
                          
                          
                          
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	

</body>


</html>
