<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title></title>
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/fileinput.min.css" rel="stylesheet">
<link href="${system_css}/magicsuggest-min.css" rel="stylesheet">
<link href="${system_css}/product.css" rel="stylesheet">


<script type="text/javascript" src="${system_js}/jquery.min.js"></script>
<script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script src="${system_js}/jquery.form.js"></script>
<script src="${system_js}/ajaxfileupload.js"></script>
<script src="${system_js}/magicsuggest-min.js"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script type="text/javascript" src="${plugins}/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/additional-methods.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/localization/messages_zh.min.js"></script>
<script src="${system_js}/jquery.lSelect.js"></script>
<script type="text/javascript" src="${system_js}/system.js"></script>
<script src="${plugins}/laydate/laydate.js"></script> 

<script type="text/javascript" src="${system_js}/myValidate.js"></script>
<script src="${system_js}/bootstrap-fileinput-master/js/fileinput.js"></script>
<script src="${system_js}/bootstrap-fileinput-master/js/zh.js"></script>


<script>
	var system_images = "${system_images}";
	var system_js = "${system_js}";
	var base = "${base}";
	var sampleList = ${sampleList};
	var searcher = ${searcher};
	var purposeEntryObj = new Map();
	$.each(${samplePurposeDict},function(index,ob){
		purposeEntryObj.put(ob.value,ob.text);
	});
	var purposeEntry = purposeEntryObj.data;



	
</script>
<script src="${system_js}/order/checkorder.js"></script>



<style>

.file-drop-zone {
	height: auto
}

.t .ms-sel-ctn {
	background-position: 98%
}


</style>
</head>

<body class="gray-bg ">

	<div class="wrapper wrapper-content animated kv-main">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-title">
						<ol class="breadcrumb">
							<li>创建订单</li>
							<div style="float: right;">
								<a href="${base}/order/paging.do" target="_self"
									style="padding: 0px; position: relative; right: 16px; float: right">
									<img src="${system_images}/backbtn.png" style="height: 24px;" />
								</a>
							</div>
						</ol>
						
					</div>
				</div>
				<div class="ibox">
					<div class="ibox-title">
						<strong>临检订单</strong>
					</div>
					<div class="ibox-content ">
						<form id="orderForm" class="form-horizontal m-t" action=""
							method="post" enctype='application/json'>


							<fieldset>
								<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" href="#collapseOne"> 订单基本信息 </a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">

											<div class="ibox-content">
												<div class="form-group">

													<label class="col-sm-2 control-label control-required">订单编号：</label>
													<div class="col-sm-3">
														 <input type="text" class="form-control" name="orderCode"
															id="orderCode" value="" /> 
													</div>

													<label class="col-sm-2 control-label ">归属合同：</label>
														<div class="col-sm-3">
														 <div class="form-control" id="hetong" placeholder="请选择归属合同"></div>
														</div>
												</div>
												
												
												
												<div class="form-group">

													<label class="col-sm-2 control-label control-required">客户：</label>
													<div class="col-sm-3">
														  <div class="form-control" id="ownerId" placeholder="请选择客户"></div>
													</div>

													<label class="col-sm-2 control-label control-required">业务员：</label>
													<div class="col-sm-3">
													  <input type="text" class="form-control" name="creatorName" id="creatorName"
													   placeholder="根据客户自动关联显示"  readonly="readonly" /> 
													   <input type="hidden" name="creatorId" id="creatorId" readonly="readonly">
													</div>
												</div>
												


												<div class="form-group">

													<label class="col-sm-2 control-label control-required">客户参与方式：</label>
													<div class="col-sm-3" style="padding-top: 5px">
													
														<@dict_entries category="ANALYSIS_TYPE">
									                     <#if entries??>
									                     <#list entries as entry>
									                     	<input type="radio" name="doctorAssist" value="${entry.value!}"   <#if "0/0" == entry.value > checked='checked'</#if> 
									                     	 />${entry.text!?html} &nbsp;
									                     </#list>
									                     </#if>
									                    </@dict_entries>
														
													</div>

													<label class="col-sm-2 control-label control-required">项目管理人：</label>
													<div class="col-sm-3">
														<div class="form-control" id="prjManager" placeholder="请选择项目管理人"></div>
														<input type="hidden" name="projectManager" id='projectManager' value="${(order.projectManager)!}" />
													</div>

												</div>

												<div class="form-group ">

												<form id="zhiqingForm" class="form-horizontal m-t" action=""
																			method="get" enctype="multipart/form-data">

													<label class="col-sm-2 control-label ">知情同意书：</label>
													<div class="col-sm-8">
															<input type="file" name="zhiqing"  multiple   accept=".jpg,.png,.gif"
															id="zhiqing" />
															<b style="font-size:14px;color:#d70101;">温馨提示！</b>选择后请点击上传按钮！
														
													</div>
														
												</form>

												</div>
												
												<div class="form-group">
													<label class="col-sm-2 control-label ">采样费用：</label>
													<div class="col-sm-3">
													  <input type="text" class="form-control" name="samplingAmount" id="samplingAmount"  /> 
													</div>

													<label class="col-sm-2 control-label control-required">检测产品：</label>
													<div class="col-sm-3">
														<div class="form-control" id="testProduct"></div>
													</div>
												</div>


											</div>
											
										</div>
									</div>


									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" href="#collapseTwo"> 受检人基本信息</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse in">
											<div class="ibox-content">
												<div class="form-group">
													<label class="col-sm-2 control-label control-required">姓名：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control"
															name="examineeName" id="examineeName" value="" />
													</div>

													<label class="col-sm-2 control-label control-required">性别：</label>
													<div class="col-sm-3" style="padding-top: 7px">

															 <@dict_entries category="SEX">
										                     <#if entries??>
										                     <#list entries as entry>
										                     	<input type="radio" name="examineeSex" value="${entry.value}" />${entry.text!?html}
										                     </#list>
										                     </#if>
										                    </@dict_entries>
															
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-2 control-label control-required">出生日期：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control laydate-icon"
															name="birthday" id="birthday" value=""
															readonly="readonly" style="height:34px" />
													</div>

													<label class="col-sm-2 control-label control-required">年龄：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control" name="age"
															id="age" value="" readonly="readonly" />
													</div>  
												</div>

												<div class="form-group">

													<label class="col-sm-2 control-label control-required">民族：</label>
													<div class="col-sm-3">
														<select class="form-control" name="nation"  id="nation">
						                                        <option value="">请选择民族</option>
						                                        <@dict_entries category="BASE_NATION">
						                                        <#if entries??>
						                                        <#list entries as entry>
						                                       
						                                        <option value="${entry.value!}" >${entry.text!?html}</option>
						                                        </#list>
						                                        </#if>
						                                        </@dict_entries>
						                                    </select>
														<!-- <input type="text" class="form-control" name="nation"
															id="nation" value="" /> -->
													</div>

													<label class="col-sm-2 control-label ">籍贯：</label>
													
													<div class="col-sm-3 " >
														  <input type="hidden" id="origin" name="origin" 
														  value="" treePath=""/>
													</div>

												</div>

												<div class="form-group">

													<label class="col-sm-2 control-label control-required">联系人：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control" name="contactName"
															id="contactName" value="" />
													</div>
													
													<label class="col-sm-2 control-label control-required">联系电话：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control" name="contactPhone"
															id="contactPhone" value="" />
													</div>

												</div>

												<div class="form-group">

													<label class="col-sm-2 control-label ">联系邮箱：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control" name="contactEmail"
															id="contactEmail" value="" />
													</div>

													<label class="col-sm-2 control-label ">病例号：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control" name="recordNo"
															id="recordNo" value="" />
													</div>


												</div>
												

											</div>
										</div>
									</div>
									
									
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" href="#collapseDisease"> 疾病信息 </a>
											</h4>
										</div>
										<div id="collapseDisease" class="panel-collapse collapse in">
										
											<div class="ibox-content">
												<div class="form-group">

													<label class="col-sm-2 control-label">临床诊断：</label>
													<div class="col-sm-3">
														<div class="form-control" id="disease"
															placeholder="请选择临床诊断"></div>
													</div>
													
													<label class="col-sm-2 control-label control-required ">临床表型：</label>
													<div class="col-sm-3">
														<div class="form-control" id="phenotype"
															placeholder="请选择临床表型"></div>
													</div>
													

												</div>
												
												<div class="form-group">

													<label class="col-sm-2 control-label ">重点关注基因：</label>
													<div class="col-sm-8 t">
														<div class="form-control" id="gene"
															placeholder="请选择重点关注基因"></div>
													</div>

												</div>
												
												
												<div class="form-group">
													<label class="col-sm-2 control-label ">病史摘要：</label>
													<div class="col-sm-8">
														<textarea  class="form-control"
															name="medicalHistory" id="medicalHistory" 
															style="height:80px;resize: none"></textarea>
													</div>
												</div>
												
												<!-- new -->
												<div class="form-group">
													<label class="col-sm-2 control-label ">家族史摘要：</label>
													<div class="col-sm-8">
														<textarea  class="form-control"
															name="familyMedicalHistory" id="familyMedicalHistory" 
															style="height:80px;resize: none"></textarea>
													</div>
												</div>
												<!-- new -->
												<div class="form-group">
													<label class="col-sm-2 control-label ">临床推荐理由：</label>
													<div class="col-sm-8">
														<textarea  class="form-control"
															name="clinicalRecommend" id="clinicalRecommend" 
															style="height:80px;resize: none"></textarea>
													</div>
												</div>
												
												<div class="form-group">

													<label class="col-sm-2 control-label ">病例：</label>
													<div class="col-sm-8">
														<input id="file-1" type="file" multiple
															data-overwrite-initial="false"  name="fujian" id="fujian"  accept=".jpg,.png,.gif">
															<b style="font-size:14px;color:#d70101;">温馨提示！</b>选择后请点击上传按钮！
													</div>
													
												</div>
												
												<!-- new -->
												<div class="form-group">

													<label class="col-sm-2 control-label ">家系图：</label>
													<div class="col-sm-8">
														<input id="familyFigures" type="file" multiple
															data-overwrite-initial="false"  name="familyFigures" id="familyFigures" accept=".jpg,.png,.gif">
															
														<b style="font-size:14px;color:#d70101;">温馨提示！</b>选择后请点击上传按钮！
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
									
									
									
									
									
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" href="#collapseThree"> 样本信息 </a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse in">

											<div class="ibox-title">
												<h5>主样本：</h5>

												<!-- <a href="javascript:addMain()"
													style="position: relative; bottom: 11px"
													class="btn btn-sm btn-success" target="_self"> <i
													class="fa fa-plus"></i> 新增主样本
												</a> -->
											</div>


											<div class="ibox-content" id="mainContent">
												<div class="mainGroup">

													<div class="form-group">


														<label class="col-sm-2 control-label control-required">样本编号：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control"
																name="mainSampleCode" id="sampleCode" value="" />
														</div>

														<label class="col-sm-2 control-label control-required">样本类型：</label>
														<div class="col-sm-3">
															<select class="form-control" name="mainSampleType" id="mainSampleType" onchange="showUnit(this)">
																<option value=''>请选择样本类型</option> 
																
															</select>
														</div>

													</div>

													<div class="form-group">


														<label class="col-sm-2 control-label control-required">样本量：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control"
																name="mainSampleSize" value="" />
														</div>

														<label class="col-sm-2 control-label control-required">采样时间：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control laydate-icon " 
																name="mainSampleDate" value="" readonly="readonly"
																style="height: 34px"
																onclick="laydate({istime: true, format: 'YYYY-MM-DD' ,max: laydate.now()})" />
														</div>

													</div>

													<DIV
														style="BORDER-TOP: #adadad 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></DIV>
												</div>
											</div>

											<div class="ibox-title">
												<h5>家属样本：</h5>

												<a href="javascript:addSe()" style="position: relative; bottom: 11px"
													class="btn btn-sm btn-success" target="_self"> <i
													class="fa fa-plus"></i> 新增家属样本
												</a>
											</div>


											<div class="ibox-content" id="seContent">
												<div class="" style="display: none">
													<div class="form-group">


														<label class="col-sm-2 control-label ">样本编号：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control"
																name="seSampleCode" id="samplesCode" value="" />
														</div>

														<label class="col-sm-2 control-label ">样本类型：</label>
														<div class="col-sm-3">
															<select class="form-control" name="seSampleType" >
																<option value=''>请选择样本类型</option>
																
															</select>
														</div>

													</div>

													<div class="form-group">


														<label class="col-sm-2 control-label ">样本量：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control"
																name="seSampleSize" value="" />
														</div>

														<label class="col-sm-2 control-label ">采样时间：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control laydate-icon"
																name="seSampleDate" value="" readonly="readonly"
																style="height: 34px"
																onclick="laydate({istime: true, format: 'YYYY-MM-DD',max: laydate.now()})" />
														</div>

													</div>

													<div class="form-group">


														<label class="col-sm-2 control-label ">年龄：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control" name="ownerAge"
																value="" />
														</div>

														<label class="col-sm-2 control-label ">姓名：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control" name="ownerName"
																value="" />
														</div>




													</div>

													<div class="form-group">

														<label class="col-sm-2 control-label ">用途：</label>
														<div class="col-sm-3">
															<select class="form-control" name="purpose"
																 id="purposeClone">
																<option value="">请选择用途</option>
																 <@dict_entries category="SAMPLE_PURPOSE">
											                     <#if entries??>
											                     <#list entries as entry>
											                     	<option value="${entry.value}">${entry.text!?html}</option>
											                     </#list>
											                     </#if>
											                    </@dict_entries>
																
															</select>
														</div>
														<span class="phenotype"> <label class="col-sm-2 control-label ">家属症状：</label>
															<div class="col-sm-3">
																<select class="form-control" name="ownerPhenotype">
																	<option value="">请选择家属症状</option>
																	 <@dict_entries category="FAMILY_SYMPTOM">
													                     <#if entries??>
													                     <#list entries as entry>
													                     	<option value="${entry.value}">${entry.text!?html}</option>
													                     </#list>
													                     </#if>
												                    </@dict_entries>
																	
																</select>
															</div>

														</span>


													</div>
													
													<div class="form-group">
													<label class="col-sm-2 control-label ">家系关系：</label>
											<div class="col-sm-3">
												<select class="form-control " 
													name="familyRelation" id="familyRelation" onchange="showSeName(this)">
													<option value="">===请选择===</option> <@dict_entries
													category="FAMILY_RELATION"> <#if entries??> <#list entries as
													entry>
													<option value="${entry.value!}">${entry.text!?html}</option>
													</#list> </#if> </@dict_entries>
												</select>
											</div>
													</div>



													<DIV
														style="BORDER-TOP: #adadad 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></DIV>
												</div>
											</div>
											
										</div>

									</div>
									
									
									
									

									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" href="#123"> 收件人信息 </a>
											</h4>
										</div>
										<div id="123" class="panel-collapse collapse in">

											<div class="ibox-content" >
											
												<div class="form-group">
	                                                <label class="col-sm-2 control-label">邮寄处理：</label>
	                                                <div class="checkbox  col-sm-3">
	                                                    <label> <input type="radio" name="sendStrategy" id="send"  checked="checked" value="1">邮寄 </label>
	                                                    
	                                                    <label> <input type="radio" name="sendStrategy" id="notsend" value="0" >不邮寄 </label>
	                                                </div>
                                           		</div>
											  <div id="send_info_div"  style="display: block">
												<div class="form-group">

													<label class="col-sm-2 control-label control-required">收件人姓名：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control"
															name="recipientName" id="recipientName" value="" />
													</div>

													<label class="col-sm-2 control-label control-required">收件人联系电话：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control"
															name="recipientPhone" id="recipientPhone" value="" />
													</div>

												</div>

												<div class="form-group">

													<label class="col-sm-2 control-label control-required">报告邮寄地址：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control"
															name="recipientAddress" id="recipientAddress" value="" />
													</div>
												
												</div>
												</div>
										</div>

									</div>
									
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" href="#charge"> 费用信息 </a>
											</h4>
										</div>
										<div id="charge" class="panel-collapse collapse in">

											<div class="ibox-content" style="position: relative;">
												<div class="form-group">

													<label class="col-sm-2 control-label control-required">发票抬头：</label>
													<div class="col-sm-3">
														<input type="text" class="form-control"
															name="invoiceTitle" id="invoiceTitle" value="" />
													</div>
												</div>

												<div class="form-group">

													<label class="col-sm-2 control-label">发票形式：</label>
													<div class="checkbox  col-sm-3">
                                                        <@dict_entries category="BILLING_TYPE">
                                                        <#if entries??>
                                                        <#list entries as entry>
                                                        <label><input type="radio" name="billingType" value="${entry.value}" "<#if entry.value?? && entry.value =="1" > checked="checked"</#if> />${entry.text!?html}</label>
                                                        </#list>
                                                        </#if>
                                                        </@dict_entries>
													</div>
												</div>
												<div id="need_info_div"  style="display: block">
														<div class="form-group">

														<label class="col-sm-2 control-label control-required" >发票抬头类型：</label>
														<div class="col-sm-3 checkbox" >
															<@dict_entries category="HEADER_TYPE">
															<#if entries??>
															<#list entries as entry>
															<label><input type="radio" name="headerType" value="${entry.value}"<#if entry.value?? && entry.value =="1" > checked="checked"</#if> />${entry.text!?html}</label>
															</#list>
															</#if>
															</@dict_entries>
														</div>

														</div>

													<div id="head_type_info_div"  style="display: block" >
														<div class="form-group">

															<label class="col-sm-2 control-label control-required">企业税号：</label>
															<div class="col-sm-3">
																<input type="text" class="form-control" name="dutyParagraph" id="dutyParagraph" value="" />
															</div>
														</div>
													</div>

													<div id="electron_info_div"  style="display: block" >
													<div class="form-group">
														<label class="col-sm-2 control-label control-required">邮箱：</label>
														<div class="col-sm-3">
															<input type="text" class="form-control" name="mailbox" id="mailbox" value="" />
														</div>
													</div>
													</div>

												</div>
												<div class="form-group">

													<label class="col-sm-2 control-label">总费用(元)：</label>
													<div class="col-sm-3">
															<div style="font-size: 52px;color: #eb4f38">￥<span id="productsPrice">0</span></div>
															<input type="hidden" value="" id="productsPrice_new" name="productsPrice" />
															
													</div>
												</div>
										
											</div>
										</div>

									</div>
									
									
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-2">
								
										<input type="submit" class="btn btn-primary" id="createButton" value="提交订单"   />
										<button class="btn btn-primary goback" type="button" >返回</button>
										
									</div>
									<div class="col-sm-4 col-sm-offset-2"></div>
									<div class="col-sm-4 col-sm-offset-2"></div>
								</div>

								



							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	




</body>




</html>
