<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title></title>
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/fileinput.min.css" rel="stylesheet">
<link href="${system_css}/magicsuggest-min.css" rel="stylesheet">
<link href="${system_css}/product.css" rel="stylesheet">

<script type="text/javascript" src="${system_js}/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
<script type="text/javascript" src="${system_js}/system.js"></script>

<script src="${system_js}/bootstrap-fileinput-master/js/fileinput.js"></script>
<script src="${system_js}/bootstrap-fileinput-master/js/zh.js"></script>


<script type="text/javascript">
var familyConfig=[], picInit =[];
<#if appSampleTransportJson??>
var transport = ${appSampleTransportJson};

var familyFiguresInit = transport.expressPictureShow;

if(familyFiguresInit!=undefined){
	if(familyFiguresInit.indexOf(",")!=0){
		var initConsentPath = familyFiguresInit.split(",");
		var trueConsentPath=transport.expressPicture.split(",")
		
		for(var i=0;i<initConsentPath.length;i++){
			if("" != initConsentPath[i]){
				picInit.push("<img  src='"+initConsentPath[i]+"' class='file-preview-image' style='max-width:700px;height:200px;'/><a style='display:flex' href='"+base+"/order/getSrcByPath.do?fileName="+trueConsentPath[i]+"'>下载</a>")
				familyConfig.push({size:"100", caption:trueConsentPath[i],width:'120px',key:trueConsentPath[i]});
			}
			
		}
		
		picInit.join(",")
	}
}


</#if>
var base = "${base}";




$(document).ready(function(){
	
	$("#pic").fileinput({
		language: 'zh', // 设置语言
        uploadUrl: base+'/order/upload.do', 
        allowedFileExtensions : ['jpg', 'png','gif'],
        maxFileSize: 5000,
        showUpload: false, // 是否显示上传按钮
        showCaption: false,// 是否显示标题
        showRemove:false,
        initialPreview:picInit,
        initialPreviewConfig:familyConfig,
	});


$('.btn.btn-primary.btn-file').css('display','none')
	
	
})

	var companyMap ={
		"1":"shunfeng",
		"2":"tiantian",
		"3":"youzhengguonei"
	};


  function showProcess(expressNo,type){
	$('#express_table').html(""); 
	var param = {};
	param.com = companyMap[type];;
	param.num = expressNo;
	$.get(base+"/order/showTransport.do?param="+JSON.stringify(param) , function(data){
		  
		     var tt = data.msg;
		     var dataObj=eval("("+tt+")");
		     console.info(dataObj);
		     console.info(dataObj.result);
		     if(dataObj.message=="ok"){
		    	 $('.express_query_code').find('font').text(dataObj.nu);
			     if(dataObj.state == "3"){
			    	 $('.express_query_status').find('font').text("已签收");
			     }
			    
			     $.each(dataObj.data,function(index,obj){
			    	  var context =obj.context;
			    	 $('#express_table').append("<tr><td>"+obj.time+"</td> <td>"+context+"</td> </tr>");
			     });
		     }else{
		    	 $('.express_query_code').find('font').text(expressNo);
		     
		    	 $('.express_query_status').find('font').text("查询无结果");
		     
		    	 $('#express_table').append(""+dataObj.message+""); 
		     }
		    
			
		     $('#myModal').modal('show');
		    
		     
	});
	
}  

</script>

<style>

.file-drop-zone {
	height: auto
}

</style>
</head>

<body class="gray-bg">
		<div class="wrapper wrapper-content animated">
			<div class="row">
				<div class="col-lg-12">
					
					<div class="ibox">
					
						<div class="ibox-title">
							<strong>样本详情</strong>
							<div style="float:right">
								<a href="javascript:history.go(-1)"  target="_self" style="margin-top:0px;padding: 0px;position: relative;right: 16px;float: right">
								<img src="${system_images}/backbtn.png" style="height: 24px;"/></a>
							</div>
					    </div>
					  
					    <div class="ibox ibox-table">
                          <div class="ibox-content">
                   
                           <table class="table table-striped table-bordered table-hover table-details">
                        	<tr>
                        		<td colspan="8" ><strong>样本信息</strong></td>
                        	</tr>
                            <tr>
                                <td class="col-sm-1">样本名称</td>
                                <td class="col-sm-2">${(record.sampleName)!?html}</td> 
                                <td class="col-sm-1">样本状态</td>
                                <td class="col-sm-2">  
                              		<#if record.transportStatus == 0>待送样</#if>
                     				<#if record.transportStatus == 1>送样中</#if>
									<#if record.transportStatus == 2>已接收样本</#if>
									<#if record.transportStatus == 3>异常样本</#if>
									<#if record.transportStatus == 4>已返样样本</#if>	
									<#if record.transportStatus == 5>已取消</#if>	
								</td>
                              
                            </tr>
                            <tr>
                                <td class="col-sm-1">样本类型</td>
                                <td class="col-sm-2">${(record.sampleTypeName)!?html}</td>
                              			
                                <td class="col-sm-1">样本编号</td>
                                <td class="col-sm-2">${(record.sampleCode)!?html}</td>
                            
                            </tr>
                            
                       		<tr>
                                <td class="col-sm-1">采样时间</td>
                                <td class="col-sm-2">
                               		<#if record.samplingDate??> ${(record.samplingDate)!?string('yyyy-MM-dd')} </#if>
								</td>
                                <td class="col-sm-1">样本量</td>
                                <td class="col-sm-2">
                               		${(record.sampleSize)!?html} (${(record.unit)!?html})
								</td>
                               
                       		</tr>
                       		
                       		<#if orderSubsidiarySample??>
                       		<tr>
                       		   <td class="col-sm-1">家属关系</td>
                               <td class="col-sm-2"><@dict_entry_text category="FAMILY_RELATION" value=orderSubsidiarySample.familyRelation /></td>
                       		   <td class="col-sm-1">姓名</td>
                               <td class="col-sm-2">${(orderSubsidiarySample.ownerName)!?html}</td>
                       		</tr>
                       		
                       		<tr>
                       		   <td class="col-sm-1">年龄</td>
                               <td class="col-sm-2">${(orderSubsidiarySample.ownerAge)!?html}</td>
                       		   <td class="col-sm-1">家属症状</td>
                               <td class="col-sm-2"><@dict_entry_text category="FAMILY_SYMPTOM" value=orderSubsidiarySample.ownerPhenotype /></td>
                       		</tr>
                       		
                       		<tr>
                       		  <td class="col-sm-1">样本用途</td>
                              <td class="col-sm-2"><@dict_entry_text category="SAMPLE_PURPOSE" value=record.purpose /></td>
                       		</tr>
                       		</#if>
                       		
                       		<#if orderResearchSample??>
                       		<tr>
                       		   <td class="col-sm-1">临床诊断</td>
                               <td class="col-sm-2">${(orderResearchSample.diagnosis)!?html}</td>
                                <td class="col-sm-1">重点关注基因</td>
                               <td class="col-sm-2">${(orderResearchSample.focusGene)!?html}</td>
                       		</tr>
                       		
                       		<tr>
                       		  
                       		   <td class="col-sm-1">家系关系</td>
                               <td class="col-sm-2">${(orderResearchSample.familyRelation)!?html}</td>
                               <td class="col-sm-1">备注</td>
                               <td class="col-sm-2">${(orderResearchSample.remark)!?html}</td>
                       		</tr>
                       	
                       		</#if>
                       		
                            
                       </table>  
                       
                       
                        <table class="table table-striped table-bordered table-hover table-details">
                        	<tr>
                        		<td colspan="8" ><strong>订单信息</strong></td>
                        	</tr>
                            <tr>
                                <td class="col-sm-1">订单编号</td>
                                <td class="col-sm-2">${(order.code)!?html}</td> 
                                <td class="col-sm-1">订单状态</td>
                                <td class="col-sm-2">  
                              	<@dict_entry_text category="ORDER_STATE" value=order.status />
								</td>
                              
                            </tr>
                            <tr>
                                <td class="col-sm-1">下单时间</td>
                                <td class="col-sm-2"> ${(order.submitTime)!?string('yyyy-MM-dd')}</td>
                              			
                                <td class="col-sm-1">下单人</td>
                                <td class="col-sm-2">${(order.submitterName)!?html}</td>
                            
                            </tr>
                            
                       		<tr>
                                <td class="col-sm-1">业务员</td>
                                <td class="col-sm-2">
                               		 ${(record.salesmanName)!?html}
								</td>
                                <td class="col-sm-1">客户</td>
                                <td class="col-sm-2">
                               		${(record.customerName)!?html}
								</td>
                               
                       		</tr>
                       	
                       		<tr>
                       		  <td class="col-sm-1">营销中心</td>
                              <td class="col-sm-2">
                             		 	<#if order.orderType == "1">临床遗传</#if>
										<#if order.orderType == "2">临床肿瘤</#if>
										<#if order.orderType == "3">健康筛查</#if>
										<#if order.orderType == "4">科技服务</#if>
                              </td>
                       		</tr>
                       		
                       </table>  
                       
                       
                         <table class="table table-striped table-bordered table-hover table-details">
                         
                        	<tr>
                        		<td colspan="8" ><strong>寄送信息</strong></td>
                        	</tr>
                        	<#if appSampleTransport ?? > 
                        	 <#if appSampleTransport.transportType !="0" >
                            <tr>
                                <td class="col-sm-1">运输方式</td>
                                <td class="col-sm-2">
                              		<@dict_entry_text category="TRANSPORT_TYPE" value=appSampleTransport.transportType />
                                </td> 
                                <td class="col-sm-1">快递单号</td>
                                <td class="col-sm-2">  
                                
                              	  <a href="javascript:showProcess('${(appSampleTransport.expressNo)!?html}',${(appSampleTransport.transportType)!?html})" >${(appSampleTransport.expressNo)!?html}</a> 
								</td>
                              
                            </tr>
                            <tr>
                                <td class="col-sm-1">寄送日期</td>
                                <td class="col-sm-2">
                                 ${(appSampleTransport.sendDate)!?string('yyyy-MM-dd')}
                                </td>
                              			
                            </tr>
                            
                       		<tr>
                                <td class="col-sm-1">备注</td>
                                <td colspan="6">
                               		${(appSampleTransport.remark)!?html}
								</td>
                       		</tr>
                       		
                       		<tr>
                                <td class="col-sm-1">快递单照片</td>
                                <td colspan="6">
                               			<input type="file" id="pic" multiple data-overwrite-initial="false"  />
								</td>
                       		</tr>
                        	 </#if> <#else>
                                    <tr>
                                        <td colspan="8">暂无相关明细</td>
                                    </tr>
                        	
                         </#if>
                        
                         
                       </table>  
                       

					<div id="info"></div>  
					
					
					
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content" style="width:800px;height:500px">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">快递信息</h4>
								</div>
								
								
						<div style="width:100%; padding-top:30px;">
							<span class="express_query_code">运单编号：<font color="#0055A2"></font></span>
							<span class="express_query_status">状态：<font color="#0055A2"></font></span>
						</div>
						<div class="express_query_detail">
							<table id="express_table" width="100%" border="0" align="center">
								<tr>
									<th width="30%">时间</th>
									<th>跟踪记录</th>
								</tr>
									
								
								
								
							</table>
						</div>
								
								
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal -->
					</div>
					                     
                      <#if appSampleTransport ?? > 
                        <#if appSampleTransport.transportType =="0" >
                         <table class="table table-striped table-bordered table-hover table-details">
                        
                            <tr>
                                <td class="col-sm-1">运输方式</td>
                                <td class="col-sm-2">人工物流</td> 
                                <td class="col-sm-1">运输人姓名</td>
                                <td class="col-sm-2">  
                              	  ${(appSampleTransport.transportName)!?html}
								</td>
                              
                            </tr>
                            <tr>
                                <td class="col-sm-1">运输人电话</td>
                                <td class="col-sm-2"> ${(appSampleTransport.transportPhone)!?html}</td>
                              	 <td class="col-sm-1">寄送日期</td>
                                <td class="col-sm-2"> ${(appSampleTransport.sendDate)!?string('yyyy-MM-dd')}</td>
                            </tr>
                            
                       		<tr>
                                <td class="col-sm-1">备注</td>
                                <td colspan="6">
                               		${(appSampleTransport.remark)!?html}
								</td>
                       		</tr>
                       		
                       	
                       </table>  
                        	</#if>
                        	</#if>
                        	
                        <table class="table table-striped table-bordered table-hover table-details">
                        	<tr>
                        		<td colspan="8" ><strong>异常信息</strong></td>
                        	</tr>
                            <tr>
                                <td class="col-sm-1">质检状态</td>
                                <td class="col-sm-2">
                                	<#if detail ??>	<#if detail.qcStatus == 0>不合格</#if></#if>
									<#if detail ??>	<#if detail.qcStatus == 1>合格</#if></#if>
                                </td> 
                               
                            </tr>
                            <tr>
                                <td class="col-sm-1">质检备注</td>
                                <td class="col-sm-2"><#if detail ??>${(detail.qcRemark)!?html}</#if></td>
                              	
                            </tr>
                            
                       		<tr>
                                <td class="col-sm-1">质检员</td>
                                <td colspan="1">
                                <#if detail ??>${(receicving.receiverName)!?html}</#if>
								</td>
                       		</tr>
                       		<tr>
                                <td class="col-sm-1">处理状态</td>
                                <td colspan="1">
                               	 <#if orderPrimarySample ?? > <#if orderPrimarySample.sampleErrorStatus ?? > <#if orderPrimarySample.sampleErrorStatus == 0>未处理</#if>  <#if orderPrimarySample.sampleErrorStatus == 1>已处理</#if>  </#if>  </#if>
                               	 <#if orderSubsidiarySample ?? > <#if orderSubsidiarySample.sampleErrorStatus ?? ><#if orderSubsidiarySample.sampleErrorStatus == 0>未处理</#if>  <#if orderSubsidiarySample.sampleErrorStatus == 1>已处理</#if> </#if>   </#if>
                               	 <#if orderResearchSample ?? > <#if orderResearchSample.sampleErrorStatus ?? ><#if orderResearchSample.sampleErrorStatus == 0>未处理</#if>  <#if orderResearchSample.sampleErrorStatus == 1>已处理</#if> </#if>  </#if>
								</td>
                       		</tr>
                       	
                       </table>  
                       
                      
                       	 
                    </div>
                </div>
				</div>
			</div>
		</div>
		</div>
	</body>




</html>
