<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>任务表单-任务管理</title>
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/magicsuggest-min.css" rel="stylesheet">
<script src="${system_js}/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="${system_js}/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="${system_js}/avalon.js"></script>
<script type="text/javascript" src="${plugins}/jquery-validation-1.14.0/lib/jquery.js"></script>
<script type="text/javascript" src="${plugins}/jquery-validation-1.14.0/dist/jquery.validate.js"></script>
<script src="${system_js}/bsm/lib_cap_task.js?v=1.0.0"></script>
<script src="${system_js}/magicsuggest-min.js"></script>
<script type="text/javascript" src="${plugins}/lodash/lodash.min.js"></script>
<script type="text/javascript">
$(function()
        {   
    var userGroup = $('#userGroup').magicSuggest({
        width : 190,
        highlight : true,
        data : '${base}/userGroup/list_json.do?',
        method : 'get',
        queryParam : "key",
        allowFreeEntries : false,
        maxSelection : 1,
        renderer : function(v)
        {   
          return '<div>' + '<div >' + '<div>' + v.name + '</div>' + '<div style="clear:both;"></div>';
        },
    });
    
$('#userGroup').magicSuggest().setSelection(${userGroups});
    $(userGroup).on('selectionchange', function(e, cb, s)
            {
                var str = cb.getValue();
                $.ajax({
                    url : '/userGroup/getUserGroup.do',
                    traditional : true,
                    type : "POST",
                    data : {
                        id : str,
                    },
                    async : false,
                    success : function(data)
                    {
                        $('#userGroupId').val(str);
                    
                    },
                    error : function()
                    {
                        parent.layer.alert('错误', {
                            title : "提示"
                        });
                    }
                })
            });
        })
</script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                            <li><a href="${base}/task/list.do">任务管理</a></li>
                            <li class="active"><strong>任务配置</strong></li>
                        </ol>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>任务配置</h5>
                    </div>
                    <div class="ibox-content">
                        <#if task??>
                        <form id="task_form" class="form-horizontal m-t" action="${base}/task/modify.do" method="post"
                            enctype='application/json'>
                            <input type="hidden" name="userGroup.id" id="userGroupId" value="${(task.userGroup.id)!?html}" />
                            <input type="hidden" name="id" id="id" value="${(task.id)!?html}" /> <input type="hidden" id="inputContent"
                                name="inputContent" />
                            <fieldset style="border: border:#06c dashed 1px;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">任务名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="name" value="${(task.name)!?html}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">输出样本</label>
                                    <div class="col-sm-3">
                                        <select id="outputSampleId" name="outputSampleId" title="请选择任务输出类型" required
                                            class="form-control outputSampleId">
                                            <option value="">请选择</option> <@bcm_samples type = ""> <#list samples as s>
                                            <option<#if task.outputSampleId??> <#if task.outputSampleId==s.id>selected</#if></#if>
                                                value="${s.id!?html}">${s.name!?html}</option> </#list> </@bcm_samples>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户组设置</label>
                                   <div class="col-sm-3">
                                    <div class="form-control" id="userGroup" placeholder=""></div>
                                   </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label input-xlarge">任务描述</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" name="description">${(task.description)!?html}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-5" style="margin-top: 10px;">
                                        <button class="btn btn-primary" id="btn" type="button">保存</button>
                                        <button class="btn btn-primary" type="button" onclick="history.go(-1)">返回</button>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2"></div>
                                    <div class="col-sm-4 col-sm-offset-2"></div>
                                </div>
                    </div>
                </div>
                </fieldset>
                </form>
                </#if>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>