<!DOCTYPE html>
<html xmlns:c="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>默认开票管理</title>
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<script id="invoiceTemp">
	<#include "./add_default_temp.html" />
</script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                            <li>
                                <span>默认开票管理</span>
                            </li>
                            <li class="active">
                                <strong>默认开票处理</strong>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>默认开票处理</h5>
                    </div>
                    <div class="ibox-content">
                    	<#include "./defaultInvoice_info.html" />
						<div class="row">
							<div class="col-lg-12">
								<div class="ibox">
									<div class="ibox-title">
										<h5>开票信息</h5>
										<div class="ibox-tools">
											<a class="collapse-link"> <i class="fa fa-chevron-down"></i>
											</a>
										</div>
									</div>
									<form id="invoiceForm" class="form-horizontal m-t" action="${base}/bmm/defaultInvoice/solve.do" method="post">
										<input id="id" name="id" type="hidden" value="${(record.id)!?html}"/>
										<input id="solveStatus" name="solveStatus" type="hidden" value="${(record.solveStatus)!?html}"/>
										<input id="content" name="content" type="hidden"/>
										<input id="delayStatus" name="delayStatus" type="hidden" value="${delaySign}"/>
										<input id="invoiceAmount" type="hidden" value="<#if delaySign??><#if delaySign == "0">${((record.currentActualPay)!0)?string('0.##')}<#else>${((record.currentReceivable)!0)?string('0.##')}</#if></#if>"/>
										<input id="reduceStatus" type="hidden" value="${(record.reduceStatus)!?html}"/>
										<div class="ibox-content invoiceInfo">
											<div class="col-sm-3 form-group">
												<a href="javascript:;" class="btn btn-sm btn-success addInvoice"><i class="fa fa-plus"></i> 添加开票信息</a>
											</div>
											<table class="table table-striped table-bordered table-hover invoiceTable">
												<tr>
													<th class="col-sm-1">开票单位：</th>
													<td class="col-sm-2"><input class="form-control institution" type="text" name="institution" value="<#if record.institution??><#if record.institution == "0">北京检验所<#elseif record.institution == "1">北京迈基诺<#elseif record.institution == "2">重庆迈基诺<#else>重庆检验所</#if></#if>" readonly/></td>
													<th class="col-sm-1">开票金额：</th>
													<td class="col-sm-2"><input class="form-control invoiceAmount" type="text" name="invoiceAmount" value="<#if delaySign??><#if delaySign == "0">${((record.currentActualPay)!0)?string('0.##')}<#else>${((record.currentReceivable)!0)?string('0.##')}</#if></#if>"/></td>
													<th>开票人：</th>
													<td>
														<select class="form-control drawerId" name="drawerId">
															<option value="">---请选择---</option>
															<#if userlist??><#list userlist as user>
															<option value="${user.id}">${user.name!?html}</option>
															</#list></#if>
														</select>
													</td>
													<th></th>
												</tr>
												<tr>
													<th>开票时间：</th>
													<td><input class="form-control laydate-icon invoiceTime" type="text" value="${.now?string('yyyy-MM-dd')}" name="invoiceTime" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/></td>
													<th>开票单号：</th>
													<td><input class="form-control invoicerNo" type="text" name="invoicerNo"/></td>
													<th>领取人：</th>
													<td><input class="form-control receiverName" type="text" name="receiverName"/></td>
													<th><a class="btn btn-sm btn-success removeInvoice" href="javascript:" style="background-color: rgb(235, 79, 56); border-color: rgb(235, 79, 56); float: right;"><i class="fa fa-trash"></i> 删除此条开票信息</a></th>
												</tr>
											</table>
										</div>
										<div class="form-group">
				                            <div class="col-sm-4 col-sm-offset-5">
				                                <button type="button" class="btn btn-primary" id="button_solve">提交</button>
				                                <button class="btn btn-primary goback" type="button">返回</button>
				                            </div>
				                        </div>
									</form>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            
            
            
    <div class="modal fade" id="updateReceiveModal" tabindex="-1"   role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:880px;" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span> <span class="sr-only">关闭</span>
					</button>
				</div>
				<div class="modal-content" style="padding:20px 30px ;">	
					<div class="alert alert-warning">订单编号：${(record.code)!?html}    应收款:${((record.receivable)!0)?string('0.##')}   实收额：${((record.actualPayment)!0)?string('0.##')}</div>
					
						<form id="amountForm" class="form-horizontal m-t" action="${base}/bmm/defaultInvoice/updateOrderProductAmountSolve.do" method="post" style="clear:both;"
							enctype='application/json'>
							<input type="hidden"  class="form-control" readonly="readonly" name="id"  value="${(record.id)!?html}" />
							<input type="hidden"  class="form-control" readonly="readonly" name="orderId"  value="${(record.recordKey)!?html}" />
							<input type="hidden"  class="form-control" readonly="readonly" name="requestParams" id="requestParams" value="" />
							<input type="hidden"  class="form-control" readonly="readonly" name="delaySign" id="delaySign" value="${delaySign}" />
							<table class="table table-striped table-bordered table-hover table-responsive">
							<thead>
								<tr>
									<td>序号</td>
									<td>订单编号</td>
									<td style="display: none">订单产品id</td>
									<td>产品名称</td>
									<td>产品金额(元)</td>
								</tr>
							</thead>
							<tbody id="amount_table">
								 <#if record.orderProductList?has_content> <#list record.orderProductList as entity>
								<tr>
									<td>${entity_index + 1}</td>
									<#if entity_index==0>
										<td rowspan="${record.orderProductList?size}">${(record.code)!?html}</td>
									</#if>
									<td style="display: none">${(entity.id)!?html}</td>
									<td>${(entity.product.name)!?html}</td>
									<td><input type="text" class="form-control"  value="${(entity.realProductPrice)!?html}" /></td>
								</tr>
								</#list> <#else>
								<tr>
									<td colspan="12">暂无相关记录</td>
								</tr>
								</#if> 
							</tbody>
						</table>
							
						</form>
					
					
				</div>
				
				<div class="modal-footer">
				 	<button type="button" class="btn btn-primary" id="update_submit">提交更改</button>
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
           		</div>
				

			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
            
            
    </div>
        
        
    <script type="text/javascript" src="${system_js}/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
    <script type="text/javascript" src="${plugins}/laydate/laydate.js"></script>
    <script type="text/javascript" src="${plugins}/hplus/content.min.js"></script>
    <script type="text/javascript" src="${system_js}/system.js?v=1.0.0"></script>
    <script type="text/javascript" src="${system_js}/bootstrap-suggest.js"></script>
    <script type="text/javascript" src="${plugins}/validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="${system_js}/myValidate.js"></script>
    <script type="text/javascript" src="${system_js}/bmm/defaultInvoice.form.js"></script>
</body>
</html>