<!DOCTYPE html>
<html xmlns:c="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>送样取消-处理</title>
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${plugins}/icheckbox/icheckbox.css" rel="stylesheet"></link>
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                            <li>
                                <a href="${base}/bmm/resampling/cancel_list.do">送样取消</a>
                            </li>
                            <li class="active">
                                <strong>取消处理</strong>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>取消处理</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>样本信息</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-striped table-bordered table-hover table-details">
                                            <tr>
                                                <th class="col-sm-1">订单编号</th>
                                                <td class="col-sm-2">${(data.orderCode)!?html}</td>
                                                <th class="col-sm-1">营销中心</th>
                                                <td class="col-sm-2">${(data.orderMarketingCenter)!?html}</td>
                                                <th class="col-sm-1">客户姓名</th>
                                                <td class="col-sm-2">${(data.orderCustomerName)!?html}</td>
                                                <th class="col-sm-1">业务员</th>
                                                <td class="col-sm-2">${(data.orderAgentName)!?html}</td>
                                            </tr>
                                            <tr>
                                                <th>样本编号</th>
                                                <td>${(data.sampleCode)!?html}</td>
                                                <th>样本名称</th>
                                                <td>${(data.sampleName)!?html}</td>
                                                <th>样本类型</th>
                                                <td>${(data.sampleTypeName)!?html}</td>
                                                <th>样本用途</th> <#if (data.samplePurpose)??>
                                                <td><@dict_entry_text category = "SAMPLE_BUSINESS_TYPE" value = data.sampleBusinessType!
                                                    />-<@dict_entry_text category = "SAMPLE_PURPOSE" value = data.samplePurpose! /></td>
                                                <#else>
                                                <td><@dict_entry_text category = "SAMPLE_BUSINESS_TYPE" value = data.sampleBusinessType! /></td>
                                                </#if>
                                            </tr>
                                            <tr>
                                                <th>备注</th>
                                                <td colspan="7">${(data.errorDealRemark)!?html}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>影响流程</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="index">序号</th>
                                                    <th>实验类型</th>
                                                    <th>实验方法</th>
                                                    <th>检测产品/验证位点</th>
                                                    <th>异常节点</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <#if (data.schedules)??> <#list data.schedules as s>
                                                <tr>
                                                    <td>${s_index + 1}</td>
                                                    <td>${s.testingSchedule?string('检测','验证')}</td>
                                                    <td>${s.testingMethodName!?html}</td>
                                                    <#if s.testingSchedule>
                                                    <td>${s.testingProductName!?html}</td>
                                                    <#else>
                                                    <td>${s.verifyGeneSymbol!?html}-${s.verifyLocation!?html}</td>
                                                    </#if>
                                                    <td>${s.errorNode!?html}</td>
                                                </tr>
                                                </#list> </#if>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>处理意见</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <form class="form-horizontal m-t" action="${base}/bmm/resampling/cancel_handle.do" method="post">
                                            <input type="hidden" name="${(REPEAT_SUBMIT_TOKEN)!}" value="${(Request[REPEAT_SUBMIT_TOKEN])!}" />
                                            <input type="hidden" name="id" value="${(data.id)!?html}">
                                            
                                            
                                            <#if data.riskTestingNodes??>
                                                                <#list data.riskTestingNodes as node>
                                                               <input type="hidden" name="riskTestingNodes" value="${(node.semantic)!?html}">
                                                                </#list>
                                                                </#if>
                                                                
                                                                
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">处理策略：</label>
                                                <div class="col-sm-10">
                                                    <div class="radio-inline i-checks">
                                                        <label><input type="radio" name="strategy" value="1">取消实验</label> <label><input
                                                                type="radio" name="strategy" value="2">风险实验（<#if data.riskTestingNodes??>
                                                                <#list data.riskTestingNodes as node>
                                                                ${(node.name)!?html}
                                                                </#list>
                                                                </#if>）</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label control-required">备注：</label>
                                                <div class="col-sm-6">
                                                    <textarea class="form-control" rows="4" name="remark" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <button class="btn btn-primary" type="submit">确认</button>
                                                    <button class="btn btn-primary goback" type="button">返回</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="${system_js}/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
    <script src="${plugins}/icheckbox/icheckbox.min.js"></script>
    <script src="${plugins}/hplus/content.min.js"></script>
    <script src="${system_js}/system.js?v=1.0.0"></script>
    <script type="text/javascript"	src="${plugins}/validation/jquery.validate.min.js"></script>
	<script type="text/javascript"	src="${plugins}/validation/localization/messages_zh.min.js"></script>
	<script type="text/javascript" src="${system_js}/myValidate.js"></script>
    <script type="text/javascript">
                <!--
                    $(function()
                    {
                        $('.i-checks input:first').iCheck('check');
                        $(".m-t").validate({
                    		submitHandler:function(form){
                    			form.submit();
                    		},
                            rules: {
                            	remark:{
                            		required:true
                            	}
                            }
                         
                        });
                    });
                //-->
                </script>
</body>
</html>