<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.lims.technical.mybatis.FilterItemsMapper" >
  <resultMap id="BaseResultMap" type="com.todaysoft.lims.technical.mybatis.entity.FilterItems" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SEMANTIC" property="semantic" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SEMANTIC, NAME, DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LIMS_FILTER_ITEMS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LIMS_FILTER_ITEMS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.todaysoft.lims.technical.mybatis.entity.FilterItems" >
    insert into LIMS_FILTER_ITEMS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="semantic != null" >
        SEMANTIC,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="semantic != null" >
        #{semantic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.todaysoft.lims.technical.mybatis.entity.FilterItems" >
    update LIMS_FILTER_ITEMS
    <set >
      <if test="semantic != null" >
        SEMANTIC = #{semantic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.todaysoft.lims.technical.mybatis.entity.FilterItems" >
    select 
    <include refid="Base_Column_List" />
    from LIMS_FILTER_ITEMS
    where DEL_FLAG = 0
    <if test="semantic != null" >
       AND SEMANTIC = #{semantic,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''" >
      	<bind name="namePattern" value="'%'+ name + '%'" />
            AND NAME LIKE #{namePattern}
      </if>
  </select>
</mapper>