<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.lims.technical.mybatis.ProductPrincipalMapper">
	<resultMap id="BaseResultMap"
		type="com.todaysoft.lims.technical.mybatis.entity.ProductPrincipal">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
		<result column="PRINCIPAL_ID" property="principalId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, PRODUCT_ID, PRINCIPAL_ID
	</sql>

	<select id="getByProduct" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from LIMS_PRODUCT_PRINCIPAL
		where PRODUCT_ID =
		#{productId,jdbcType=VARCHAR}
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from LIMS_PRODUCT_PRINCIPAL
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		LIMS_PRODUCT_PRINCIPAL
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.todaysoft.lims.technical.mybatis.entity.ProductPrincipal">
		insert into LIMS_PRODUCT_PRINCIPAL (ID, PRODUCT_ID,
		PRINCIPAL_ID
		)
		values (#{id,jdbcType=VARCHAR},
		#{productId,jdbcType=VARCHAR},
		#{principalId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.todaysoft.lims.technical.mybatis.entity.ProductPrincipal">
		insert into LIMS_PRODUCT_PRINCIPAL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="productId != null">
				PRODUCT_ID,
			</if>
			<if test="principalId != null">
				PRINCIPAL_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=VARCHAR},
			</if>
			<if test="principalId != null">
				#{principalId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.todaysoft.lims.technical.mybatis.entity.ProductPrincipal">
		update LIMS_PRODUCT_PRINCIPAL
		<set>
			<if test="productId != null">
				PRODUCT_ID = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="principalId != null">
				PRINCIPAL_ID = #{principalId,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.todaysoft.lims.technical.mybatis.entity.ProductPrincipal">
		update LIMS_PRODUCT_PRINCIPAL
		set PRODUCT_ID =
		#{productId,jdbcType=VARCHAR},
		PRINCIPAL_ID =
		#{principalId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>