<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>样本接收-样品接收明细</title>
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<!-- 表单验证 -->
<script type="text/javascript" src="${plugins}/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/additional-methods.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/localization/messages_zh.min.js"></script>
</head>
<body  style="background-color: white;">
<div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
          <div class="col-lg-12">
				<div class="ibox-title">
	                 <ol class="breadcrumb">
	                     <li class="active">
	                         <strong>添加样本接收明细</strong>
	                     </li>
	                 </ol>
	             </div>
	          
	             <div class="ibox-content" style="border:1px,solid,black;">
	             	<form class="form-horizontal m-t toggle-form" id="detailForm" action="${base}/sampleReceive/createSampleReceiveDetail" method="post">
	       			<div class="form-group">
						<label class="col-sm-1 control-label" style="top: 10px;">样本编号:</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" name="code"
								id="code" value=""  readonly="readonly"/>
						</div>
						<label class="col-sm-1 control-label" style="top: 10px;" >样本类型:</label>
						<div class="col-sm-2">
							<select class="form-control" name="sampleType" id="sampleType">
								<option value="基因组DNA">基因组DNA</option>
							</select>
						</div>
						<label class="col-sm-1 control-label" style="top: 10px;" >样本数量:</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" name="sampleCount"
								id="sampleCount" value=""/>
						</div>
							<select style="position: relative; top:10px;" name="company" id="company">
								<option value="1">单位</option>
							</select>
						</div>
					
					<div class="form-group" style="position: relative;; top: 20px;">
						<label class="col-sm-1 control-label"style="top: 10px;" >样本标识:</label>
						<div class="col-sm-3">
							<select class="form-control" id="select01" name="sampleIdentification">
									<option value="附属样本" >附属样本</option>
									<option value="主样本" >主样本</option>
								</select>
						</div>
						<div id="div" >
							<label class="col-sm-1 control-label" style="top: 10px;">样本关系:</label>
							<div class="col-sm-1">
								<select style="position: relative; top:10px;" id="sampleRelationship" name="sampleRelationship">
									<option value="父亲">父亲</option>
								</select>
							</div>
							<label class="col-sm-1 control-label"  style="top: 10px;" style="top: 10px;">家系姓名:</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" name="familyName"
									id="familyName" value=""/>
							</div>
								<label class="col-sm-1 control-label" style="top: 10px;">样本用途:</label>
							<div>
								<select style="position: relative; top:10px;" name="samplePurpose" id="samplePurpose">
									<option value="验证">验证</option>
								</select>
							</div>
						</div>
					</div>
					
					<div class="form-group" id= "div01" style="position: relative; clear:left; top: 30px; ">
						<label class="col-sm-1 control-label" style="top: 16px;">是否合格:</label>
						<div class="col-sm-1">
							<select style="position: relative; top:10px;" name="isQualified" id="isQualified">
								<option value="1">是</option>
								<option value="2">否</option>
							</select>
						</div>
						<div class="col-sm-2">
							<input type="text" class="form-control" name="reason"
								id="reason" value="备注原因"  />
						</div>
						<label class="col-sm-2 control-label" style="top: 10px;width: 120px;">临时存储位置:</label>
						<div class="col-sm-2">
							<input type="text" style="margin-left:35px;" class="form-control" name="temporaryStorageLocation"
								id="temporaryStorageLocation" value=""/>
						</div>
						<label class="col-sm-2 control-label"style="top: 10px; margin-left:30px; width: 120px; text-align:right" >长期存储位置:</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" name="longtermStorageLocation"
								id="longtermStorageLocation" value=""/>
						</div>
					</div>
						<div class="form-group" style="position: relative; top: 60px;left:160px;">
								<div class="col-sm-4 col-sm-offset-2">
									<button type="submit" style="width: 80px;">确定</button>&nbsp;
									<button type="reset"  style="width: 80px;">取消</button>
								</div>
						</div>
						</form>
					</div>  <!-- ibox content -->
	             </div>
            </div>
          </div>
</body>
<script type="text/javascript" src="${system_js}/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#select01").change(function(){
		if($("#select01 option:selected").val() == "主样本"){
			$("#div").hide();
		}
		if($("#select01 option:selected").val() == "附属样本"){
			
			$("#div").show();
		}
	});
	
	
	
	 $("#detailForm").validate({
         rules: {
            
         },
         messages: {
         	
         }
     });
     
});
	
});
	
</script>
</html>