<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>基因管理</title>
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/bootstrap-select.min.css" rel="stylesheet">
<link href="${system_css}/magicsuggest-min.css" rel="stylesheet">
<link href="${system_js}/bootstrap-fileinput-master/css/fileinput.css" rel="stylesheet">

<script type="text/javascript" src="${system_js}/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
<script type="text/javascript" src="${system_js}/system.js"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script src="${plugins}/pagination/jquery.pagination.js"></script>
<!-- 表单验证 -->

<script src="${system_js}/bootstrap-fileinput-master/js/fileinput.js"></script>
<script src="${system_js}/bootstrap-fileinput-master/js/zh.js"></script>
<script src="${plugins}/layer/layer.min.js"></script>

<script>
	function showUploadModal(id){
		$('#uploadModal').modal('show');
	}
	

</script>


</head>
<body class="gray-bg" >
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
            <div class="ibox">
                    <div class="ibox-title" style="border-color: white">
                        <ol class="breadcrumb">
                            <li>
                                <a href="${base}/disease/genelist.do">基因管理</a>
                            </li>
                            <li class="active">
                                <strong>基因列表</strong>
                            </li>
                           
                        </ol>
                    </div>
                </div>
               
                <div class="ibox ibox-table">
                   <div class="ibox-title">
                        
                        <h5>基因列表</h5>
						 <a href="javascript:showUploadModal()" class="btn btn-sm btn-success" target="_self">
							<i class="fa fa-folder-open-o"></i>导入基因Excel
						</a>
                       <@smm_security_resource resource = "/disease/geneForm.do"> <a href="${base}/disease/geneForm.do" class="btn btn-sm btn-success" >
						<i class="fa fa-plus"></i> 新增
						</a></@smm_security_resource >
                    </div>
                    <div class="ibox-content" style="overflow: hidden; zoom: 1;min-height: 350px">
 
                        <div class="col-sm-12">
                        
                        <form id="search_from" action="#" method="post" class="search-form">
                            <label class="col-sm-1 control-label" style="padding-top:8px">基因OMIM号：</label>
								<div class="col-sm-2">
									<div class="form-group">
										<input type="text" name="code" class="form-control"
											id="code" placeholder="请输入基因OMIM号" value="${searcher.code!?html}">
									</div>
								</div>
								
								<label class="col-sm-1 control-label" style="padding-top:8px">基因名称：</label>
								<div class="col-sm-2">
									<div class="form-group">
										<input type="text" name="symbol" class="form-control"
											id="symbol" placeholder="请输入基因名称" value="${searcher.symbol!?html}" >
									</div>
								</div>
								
								<div class="col-sm-3">
									<div class="form-group">
										<button type="submit" class="btn btn-sm btn-success">
											<i class="fa fa-search"></i> 查询
										</button>
										<button type="button" class="btn btn-sm btn-success" onclick="clearCondition('search_from')" >
											<i class="fa fa-remove"></i> 清空
										</button>
									</div>
								</div>
                        </form>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="index">序号</th>
                                    <th>基因OMIM号</th>
                                    <th>基因名称</th>
                                    <th>Uniport ID</th>
                                    <!-- <th>基因全名</th> -->
                                    <th>外显子数</th>
                                    <th>内含子数</th>
                                    <th>nm号</th>
                                    <th>染色体区域</th>
                                    <th>基因别名</th>
                                  <th class="flexible-btns">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <#if pagination??>
                              <#if pagination.records?has_content> <#list pagination.records as record>
                                <tr>
                                   <td>${record_index + 1}</td>
                                   <td>${record.code!?html}</td>
                                   <td>${record.symbol!?html}</td>
                                   <td>${record.uniportId!?html}</td>
                                   <!-- <td>${record.name!?html}</td> -->
                                   <td>${record.exonCount!?html}</td>
                                   <td>${record.intronCount!?html}</td>
                                   <td>${record.exomeNo!?html}</td>
                                   <td>${record.chromosomalLocation!?html}</td>
                                   
                                    <td>
                                    <#if record.alias?has_content> 
                                     <#list record.alias as alias>
                                    	 <#if alias_index == 0>
                                    	 ${alias.symbol!?html}
                                    	 <#else>
                                    	 , ${alias.symbol!?html}
                                    	 </#if>
                                     </#list>
                                	</#if>
                                    </td>
 								   <td class="flexible-btns-3">
 								   	  <a  href="${base}/disease/viewGene.do?id=${record.id}" class="btn btn-sm btn-success" >
                                            <i class="fa fa-search-plus"></i> 查看
                                      </a>
								  	 <@smm_security_resource resource = "/disease/geneForm.do"> <a href="${base}/disease/geneForm.do?id=${record.id}" class="btn btn-sm btn-success"> 
										<i class="fa fa-edit"></i>修改
								      </a> </@smm_security_resource>
                                      <@smm_security_resource resource = "/disease/deleteGene"><a class="btn btn-sm btn-success" onclick="canDelete(this)" attId="${record.id}">
                                            <i class="fa fa-trash"></i> 删除
                                      </a></@smm_security_resource >
                                  </td>
                                 </tr>
                                 </#list>
                                </#if>
                                </#if>
                            </tbody>
                        </table>
                        <#include "../inc/pagination.html" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

<!-- 上传框 -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <h4 class="modal-title" id="myModalLabel">基因数据导入</h4> 
            </div> 
           <form action="${base}/disease/uploadGene.do" method="post" id="uploadForm"  name="uploadForm" enctype="multipart/form-data">
            <div class="modal-body">
				<input type="file" class="file" name="uploadData" accept=".xlsx,.xls" />
			</div> 
            </form>
        </div><!-- /.modal-content --> 
    </div><!-- /.modal --> 
</div>
     
</body>
<script type="text/javascript">

function canDelete(obj){
	 
    layer.confirm('确定删除该基因么？', { btn: ['确定','取消'] ,area: ['320px', '175px']}, function(){
    	layer.closeAll('dialog');
    	var data = $(obj).attr('attId');
	 	   $.ajax({
	 		   type:"GET",
	 		   url:'${base}/disease/deleteGene?id='+data,
	 			success:function(flag){
	 				if(flag){
	 					 $(obj).parents('tr').remove();
	 				}else{
	 					parent.layer.alert('该基因已被产品已被引用，不能删除!',{title:"提示"});
	 				}
	 			}
	 	   });
  	  	});
	}
</script>    
</html>

