<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>查看疾病详情</title>
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">


</head>
	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox">
					<div class="ibox-title">
						<ol class="breadcrumb">
							<li><a href="${base}/disease/genelist.do">基因管理</a></li>
							<li class="active"><strong>查看基因</strong></li>
							<div style="float: right;">
								<a href="${base}/disease/genelist.do" target="_self"
									style="padding: 0px; position: relative; right: 16px; float: right">
									<img src="${system_images}/backbtn.png" style="height: 24px;" />
								</a>
							</div>
						</ol>
					</div>
					</div>
					<div class="ibox">
						<div class="ibox-title">
							<strong>基因详情</strong>
					    </div>
					    <div class="ibox ibox-table">
                          <div class="ibox-content">
                   
                           <table class="table table-striped table-bordered table-hover table-details">
                        	<tr>
                        		<td colspan="8" ><strong>疾病信息</strong></td>
                        	</tr>
                        	<#if entity ??>
                            <tr>
                                <th class="col-sm-1">基因OMIM号：</th>
                                <td class="col-sm-2">${entity.code!?html} </td> 
                                <th class="col-sm-1">基因名称</th>
                                <td class="col-sm-2">${entity.symbol!?html}</td>
                                <th class="col-sm-1">基因全名</th>
                                <td class="col-sm-2">${(entity.name)!?html}</td>
                                <th class="col-sm-1">Uniport ID</th>
                                <td class="col-sm-2">${(entity.uniportId)!?html}</td>
                            </tr>
                       		<tr>
                               
                       			<th class="col-sm-1">外显子数</th>
                                <td class="col-sm-2">${(entity.exonCount)!?html}</td>
                                <th class="col-sm-1">内含子数</th>
                                <td class="col-sm-2">${(entity.intronCount)!?html}</td>
                                <th class="col-sm-1">NM号</th>
                                <td class="col-sm-2">${(entity.exomeNo)!?html}</td>
                                <th class="col-sm-1">染色体区域</th>
                                <td class="col-sm-2">${(entity.chromosomalLocation)!?html}</td>
                       		</tr>
                       		<tr>
                               <th class="col-sm-1">Missense/nonsense</th>
                                <td class="col-sm-2">${(entity.missenseNonsense)!?html}</td>
                                <th class="col-sm-1">Splicing</th>
                                <td class="col-sm-2">${(entity.splicing)!?html}</td>
                                <th class="col-sm-1">Regulatory</th>
                                <td class="col-sm-2">${(entity.regulatory)!?html}</td>
                                <th class="col-sm-1">Small deletions</th>
                                <td class="col-sm-2">${(entity.smallDeletions)!?html}</td>
                       		</tr>
                       		
                       		<tr>
                       		 <th class="col-sm-1">Small insertions</th>
                                 <td class="col-sm-2">${(entity.smallInsertions)!?html}</td>
                                 <th class="col-sm-1">Small indels</th>
                                 <td class="col-sm-2">${(entity.smallIndels)!?html}</td>
                                 <th class="col-sm-1">Gross deletions</th>
                                 <td class="col-sm-2">${(entity.grossDeletions)!?html}</td>
                                 <th class="col-sm-1">Gross insertions/duplications</th>
                                 <td class="col-sm-2">${(entity.grossInsertionsDuplications)!?html}</td>
                       		</tr>
                       		
                       		<tr>
                       		 	<th class="col-sm-1">Complex rearrangements</th>
                                 <td class="col-sm-2">${(entity.complexRearrangements)!?html}</td>
                                 <th class="col-sm-1">Repeat variations</th>
                                 <td class="col-sm-2">${(entity.repeatVariations)!?html}</td>
                                 <th class="col-sm-1">Public total</th>
                                 <td colspan="3"></td>
                       		</tr>
                       		
                       		<tr>
                       		<th class="col-sm-1">关联文献</th>
                                <td colspan="7" >  
                                	<#if entity.documents?has_content> 
                                     <#list entity.documents as d>
                                    	 <#if d_index == 0>
                                    	 ${d!?html}
                                    	 <#else>
                                    	 <br/> ${d!?html}
                                    	 </#if>
                                     </#list>
                                     <#else> 无
                                	</#if>
                                </td>
                       		
                       		</tr>
                   		 		
                       			<tr>
                       			
                       			
                       		 	<th class="col-sm-1">关联疾病</th>
                                <td colspan="7">  
                                	<#if entity.diseaseGeneList?has_content> 
                                     <#list entity.diseaseGeneList as alias>
                                    	 <#if alias_index == 0>
                                    	 ${alias.name!?html}
                                    	 <#else>
                                    	 , ${alias.name!?html}
                                    	 </#if>
                                     </#list>
                                     <#else> 无
                                	</#if>
                                </td>
                       			
                       		 	
                       			</tr>
                       		
                       		<#else>
                                    <tr>
                                        <td colspan="8">暂无相关记录</td>
                                    </tr>
                            </#if>
                            </table>
                            <table class="table table-striped table-bordered table-hover table-details">
                       		
                            <tr>
                        		<td colspan="8"><strong>别名</strong></td>
                        	</tr>
                        	
                        	<tr>
                        		<td>序号</td>
								<td>名称</td>
								<td>全名</td>
                      		</tr>
                      			<#if entity.alias?has_content>
                      			<#list entity.alias as d>
                      		<tr>
                      			<td>${d_index+1}</td> 
                      			<td>${d.symbol!?html}</td>
                      			<td>${d.name!?html}</td>
                      			
                      		</tr>
                      			</#list><#else>
                                    <tr>
                                        <td colspan="8">暂无相关明细</td>
                                    </tr>
                             </#if>
                             
                   			 
                       	</table>
                    </div>
                </div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>