<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>用户列表-用户管理</title>
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${plugins}/jstree/themes/default/style.min.css" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/bootstrap-select.min.css" rel="stylesheet">
<link href="${system_css}/magicsuggest-min.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                            <li>
                                <a href="${base}/smm/user/list.do">APP业务员管理</a>
                            </li>
                            <li class="active">
                                <strong>APP业务员列表</strong>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="ibox ibox-table">
                    <div class="ibox-title">
                        <h5>业务员列表</h5>
                        <a href="#" id="btn_assign" class="btn btn-sm btn-success">
                            <i class="fa fa-edit"></i> 批量改绑
                        </a>
                        <@smm_security_resource resource = "/smm/appsaleman/form.do"> <a href="${base}/smm/appsaleman/form.do" class="btn btn-sm btn-success">
                            <i class="fa fa-plus"></i> 新增
                        </a></@smm_security_resource>  
                    </div>
                    <div class="ibox-content">
                        <form id="search_from" action="${base}/smm/appsaleman/list.do" method="post" class="search-form">
                            <div class="row m-b-xs">
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <input type="text" class="form-control userSearch" name="username" id="username" value="${(searcher.username)!?html}"
                                         placeholder="系统账号" >
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <input type="text" class="form-control userSearch" name="name" id="name" value="${(searcher.name)!?html}"
                                         placeholder="用户姓名"  >
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <input type="text" class="form-control userSearch" name="phone" id="phone" value="${(searcher.phone)!?html}" 
                                        placeholder="用户手机" >
                                    </div>
                                </div>
                                <div class="col-sm-2" style="width: 210px">
                                    <div class="form-group">
                                    	<select class='form-control' name="status"  data-value="${(searcher.status)!?html}">
                                    		<option value=''>用户状态</option>
                                    		<option value='ENABLED'>启用</option>
                                    		<option value='DISABLED'>禁用</option>
                                    		<!-- <option value='LOCKED'>锁定</option> -->
                                    	</select>
                                      <!--   <input type="text" class="form-control userSearch" name="state" id="state" value="${(searcher.state)!?html}" 
                                        placeholder="用户状态" > -->
                                    </div>
                                </div>
                                <div class="col-sm-2" style="width: 210px">
                                    <div class="form-group">
                                       <select class="form-control" name="roleType" id="roleType">
											<option selected value="">请选择职位</option>
										 	<@dict_entries category="BUSINESS_ROLE_TYPE"> 
		                                        <#if entries??> 
		                                        <#list entries as entry>
													<option value="${entry.value!}"<#if entry.value==(searcher.roleType!?html)>selected='selected'</#if>
												>${entry.text!?html}</option> 
												</#list> 
												</#if> 
											</@dict_entries>
										</select>
                                   </div>
                                </div>
                                
                                <div class="col-sm-2" style="width: 210px">
                                    <div class="form-group">
                                        <select class='form-control' name="testingType"  data-value="${(searcher.testingType)!?html}">
                                    		<option value=''>请选择营销中心</option>
                                    		<#list testingTypes as testingType>
                                    		<option value='${testingType.id}'>${testingType.name}</option>
                                    		</#list>
                                    	</select>
                                    </div>
                                </div>
                                <div class="col-sm-2" style="width: 210px">
                                    <div class="form-group">
                                        <select class="form-control" name="belongArea" id="belongArea">
                                            <option selected value="">请选择所属区域</option>
                                            <@dict_entries category="BELONG_AREA">
                                            <#if entries??>
                                            <#list entries as entry>
                                            <option value="${entry.value!}"<#if entry.value==(searcher.belongArea!?html)>selected='selected'</#if> >${entry.text!?html}</option>
                                            </#list>
                                        </#if>
                                    </@dict_entries>
                                    </select>
                                </div>
                                </div>
                                <div class="col-sm-2" style="width: 210px">
                                    <div class="input-group">
                                        <input type="hidden" value="${searcher.projectManager!?html}" name="projectManager" id="projectManager" />
                                        <input type="text" class="form-control" id="prjManager" name="prjManagerName" value="${searcher.prjManagerName!?html}" placeholder="请输入项目管理人" >
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2"  style="width: 200px">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-sm btn-success">
                                            <i class="fa fa-search"></i> 查询
                                        </button>
                                        <button type="button" class="btn btn-sm btn-success" onclick="clearHiddenCondition('search_from')" >
											<i class="fa fa-remove"></i> 清空
										</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="check-controller" /></th>
                                    <th class="index">序号</th>
                                    <th>系统账号</th>
                                    <th>姓名</th>
                                    <th>手机</th>
                                    <th>营销中心</th>
                                    <th>职位</th>
                                    <th>项目管理人</th>
                                    <th>所属区域</th>
                                    <th>状态</th>
                                    <th>更新时间</th>
                                    <th class="flexible-btns">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <#if pagination.records?has_content> <#list pagination.records as record>
                                <tr>
                                    <td><input type="checkbox" class="check-instance" value="${record.id!}"/></td>
                                    <td>${record_index + 1}</td>
                                    <td>${record.userName!?html}</td>
                                    <td>${record.realName!?html}</td>
                                    <td>${record.phoneNum!?html}</td>
                                    <td>${record.testingTypeName!?html}</td>
                                    <td><@dict_entry_text category="BUSINESS_ROLE_TYPE" value=record.roleType /></td>
                                    <td>${record.projectManagerName!?html}</td>
                                    <td><@dict_entry_text category="BELONG_AREA" value=record.belongArea /></td>
                                    <td><#if record.disableStatus == 0>启用 <#elseif record.disableStatus == 1>禁用 <#else>锁定 </#if></td>
                                    <td><#if record.updateDate??>${record.updateDate?datetime('yyyy-MM-dd hh:mm:ss')}<#else><#if record.createDate??>${record.createDate?datetime('yyyy-MM-dd hh:mm:ss')}</#if></#if></td>
                                    <td class="flexible-btns">
                                       <@smm_security_resource resource = "/smm/appsaleman/form.do"> <a href="${base}/smm/appsaleman/form.do?id=${record.id}" class="btn btn-sm btn-success">
                                            <i class="fa fa-edit"></i> 修改
                                        </a></@smm_security_resource>  
                                        <#if 0== record.disableStatus>
                                        <a class="btn btn-sm btn-success layer-confirm" data-confirm-message="确定禁用该用户账号？"
                                            href="${base}/smm/appsaleman/disable.do?id=${record.id}">
                                            <i class="fa fa-ban"></i>
                                            <span class="hidden-phone">禁用</span>
                                        </a>
                                        <#else>
                                        <a class="btn btn-sm btn-success layer-confirm" data-confirm-message="确定启用该用户账号？"
                                            href="${base}/smm/appsaleman/enable.do?id=${record.id}">
                                            <i class="fa fa-circle-o"></i>
                                            <span class="hidden-phone">启用</span>
                                        </a>
                                        </#if>
                                         <a href="${base}/smm/appsaleman/view.do?id=${record.id}" class="btn btn-sm btn-success">
                                            <i class="fa fa-search-plus"></i> 查看
                                        </a> 
                                    </td>
                                </tr>
                                </#list> <#else>
                                <tr>
                                    <td colspan="10">暂无相关记录</td>
                                </tr>
                                </#if>
                            </tbody>
                        </table>
                        <#include "../../inc/pagination.html" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="assign_dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="margin-top: 200px ;width:560px;">
            <div class="modal-content animated bounceInRight">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="float: left">业务员批量改绑项目管理人</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">关闭</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="${base}/smm/appsaleman/prjManagerChange.do" method="post" class="form-horizontal m-t toggle-form" id="modify_form">
                            <div style="width:250px;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label control-required" style="width: 130px;">项目管理人</label>
                                    <div class="col-sm-3">
                                        <div class="form-control" id="prjManagerUser" placeholder="请选择项目管理人"  style="width: 300px;"></div>
                                        <input type="hidden" name="projectManagerUser" id='projectManagerUser' />
                                        <input type="hidden" id="keys" name="keys">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save_btn" onclick="save()">确定</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                </div>

            </div>
            </div>
        </div>
    </div>
    <script src="${system_js}/jquery.min.js?v=2.1.4"></script>
    <script src="${system_js}/bootstrap.min.js?v=3.3.6"></script>
    <script src="${system_js}/system.js"></script>
    <script src="${plugins}/pagination/jquery.pagination.js"></script>
    <script src="${system_js}/magicsuggest-min.js"></script>
    <script src="${system_js}/bootstrap-suggest.js"></script>
<script>
    $(function()
    {
        $("#prjManager").bsSuggest('init', {
            url : "${base}/smm/role/getSelectList.do?disableStatus="+0+"&name=",
            getDataMethod : "url",
            idField : "id",
            keyField : "name",
            indexKey: 0,
            effectiveFields : [ "name" ],
            effectiveFieldsAlias : {
                name : "项目管理人名称"
            }
        }).on('onDataRequestSuccess', function (e, result) {
        }).on('onSetSelectValue', function (e, keyword, data) {
            $('#projectManager').val(data.id);
        }).on('onUnsetSelectValue', function () {
            $('#projectManager').val('');
        });

        $('body').on('click', '.check-controller', function()
        {
            if ($(this).is(":checked"))
            {
                $(".check-instance").prop("checked", true); //全选
            }
            else
            {
                $(".check-instance").prop("checked", false);//取消全选
            }
        }).on('click', '.check-instance', function()
        {
            if (!$(this).is(":checked"))
            {

                $(".check-controller").prop("checked", false);
            }
            else
            {
                var chknum = $(".check-instance").size();//选项总个数
                var chk = $('input[type=checkbox]:checked').length;//选中总数
                if(chknum==chk){
                    $(".check-controller").prop("checked", true);//如果选项全部选中，则勾选全选
                }else{
                    $(".check-controller").prop("checked", false);
                }
            }

        }).on('click', '#btn_assign', function(e)
        {
            e.preventDefault();

            var instances = $('.check-instance:checked');
            var count = instances.length;

            if (count == 0)
            {
                alert("请至少选择一条任务");
                return false;
            }

            var prjManagerUser =  $('#prjManagerUser').magicSuggest({
                width: 190,
                highlight: true,
                data:'${base}/smm/role/getPrjManagerList.do',
                method:'get',
                queryParam:"key",
                maxSelection: 1,
                displayField:'name',
                allowFreeEntries:false,
                renderer: function(v){
                    return '<div >'
                        +'<span>' + v.name + '</span>'
                        +'<span style="float:right;">' + v.phone + '</span>'
                        +'</div>';
                }
            });
            var keys = [];

            instances.each(function()
            {
                keys.push($(this).val());

            });

            $('#keys').val(keys.join(','));
            $('#prjManagerUser').magicSuggest().clear();
            $('#assign_dialog').modal('show');
        });
    });

    function save()
    {
        var prjManagerVal = $('#prjManagerUser').magicSuggest().getSelection()[0];
        var prjMangerId ="";
        if(undefined != prjManagerVal)
        {
            prjMangerId = prjManagerVal.id;
        }
        //必填管理人校验
        if(undefined==prjManagerVal) {
            parent.parent.layer.alert('请选择项目管理人！',{title:"提示"});
            return false;
        }

        $('input[name="projectManagerUser"]').val(prjMangerId);
        $("#modify_form").submit();
        $('#modify_dialog').modal('hide');
    }
</script>
</body>
</html>

