<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>DNA质检任务</title>
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${system_css}/layout.css" rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${plugins}/icheckbox/icheckbox.css" rel="stylesheet"></link>
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<script src="${plugins}/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="${system_js}/jquery.min.js?v=2.1.4"></script>
<script src="${system_js}/bootstrap.min.js?v=3.3.6"></script>
<script src="${plugins}/icheckbox/icheckbox.min.js"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script src="${system_js}/system.js?v=1.0.0"></script>
<script src="${plugins}/pagination/jquery.pagination.js"></script>
<script src="${plugins}/layer/layer.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/additional-methods.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/localization/messages_zh.min.js"></script>
<script src="${system_js}/testing/cdna_qc_assign.js?v=1.0.0"></script>
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12" style="margin-top: 30px">
            <form id="testing_task_form" class="form-horizontal m-t" action="${base}/testing/cdna_qc_assign_submit.do" method="post">
                <input type="hidden" name="${(REPEAT_SUBMIT_TOKEN)!}" value="${(Request[REPEAT_SUBMIT_TOKEN])!}" />
                <input type="hidden" id="content" name="content"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label control-required">质检试剂盒：</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="qualityControlReagentKitId" name="qualityControlReagentKitId" required data-msg="质检试剂盒不能为空">
                            <option value="">请选择</option>
                            <@bcm_testing_rkc node = "CDNA-QC" pre_node = "CDNA-QC"> <#list kits as kit>
                            <option value="${kit.name!?html}" data-input-quantity="${kit.sampleInputQuantity!}">${kit.name!?html}</option>
                            </#list> </@bcm_testing_rkc>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label control-required">质检实验员：</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="qualityControlTesterId" name="qualityControlTesterId" required data-msg="质检实验员不能为空">
                            <option value="">===请选择===</option>
                            <@smm_users state = "0"> <#list users as s>
                            <option value="${s.id!?html}">${s.name!?html}</option>
                            </#list> </@smm_users>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label control-required">质检方法：</label>
                    <div class="col-sm-10">
                        <div class="checkbox-inline i-checks">
                            <label><input type="checkbox" name="qualityControlMethods" class="method" value="Qubit" /> Qubit</label> <label><input
                                    type="checkbox" name="qualityControlMethods" class="method" value="2100DNA" />2100DNA</label> <label><input
                                    type="checkbox" name="qualityControlMethods" class="method" value="2100RNA" />2100RNA</label> <label><input
                                    type="checkbox" name="qualityControlMethods" class="method" value="Nanodrop" checked="checked"/>Nanodrop</label> <label><input
                                    type="checkbox" name="qualityControlMethods" class="method" value="琼脂糖电泳" checked="checked"/>琼脂糖电泳</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">任务描述：</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" rows="4"></textarea>
                    </div>
                </div>
                <div class="col-md-10">
                    <table id="testing_task_detail_table" class="table table-striped table-bordered table-hover dataTables-example"
                        style="margin-left: 15px;">
                        <thead>
                            <tr>
                                <th class="index">序号</th>
                                <th>样本编号</th>
                                <th>样本类型</th>
                                <th>产品</th>
                                <th>受检人</th>
                                <th>采样时间</th>
                                <th>是否正常</th>
                                <th style="display:none">备注</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <#if data.tasks??> <#list data.tasks as record>
                            <tr class="getTr">
                                <td class="testCode">${record.testCode!?html}</td>
                                <td class="sampleCode">${record.sampleCode!?html}</td>
                                <td class="sampleTypeName">${record.sampleTypeName!?html}</td>
                                <td class="products">${record.products!?html}</td>
                                <td class="inspectName">${record.sampleName!?html}</td>
                                <td class="samplingDate"><#if record.samplingDate??>${(record.samplingDate)?string("yyyy-MM-dd HH:mm:ss")}</#if></td>
                                <td><#if record.resubmit??><#if record.resubmit><span style="color: red">异常</span><#else><span style="color: green">正常</span></#if></#if></td>
                                <td style="display:none" class="notes"><input class="btn" type="button" value="备注" /></input> <input type="hidden" name="notes"
                                    class="getNotes" value=""></td>
                                <td class="testingTaskId" style="display:none">${record.id!?html}</td>
                                <td style="display:none;" class="resubmit">${record.resubmit?string ("true","false")}</td>
                            </tr>
                            <tr class="noteTr"><td colspan="8">
                           	<#if record.testingRemarks??> <#list record.testingRemarks as note>
                            <textarea readonly class="form-control notes" style="width: 100%; margin-bottom: 5px;"  id="description">${note!?html}</textarea>
                            </#list> </#if>  </td></tr>
                            </#list> </#if>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    $("input[type='submit']").click(function()
    {
        $("#testing_task_form").submit();
    })
</script>
</html>