<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>文库创建任务</title>


<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<script src="${system_js}/jquery.min.js?v=2.1.4"></script>
<script src="${system_js}/bootstrap.min.js?v=3.3.6"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script src="${system_js}/system.js?v=1.0.0"></script>
<script src="${plugins}/pagination/jquery.pagination.js"></script>
<script type="text/javascript"
	src="${plugins}/validation/jquery.validate.min.js"></script>
<script type="text/javascript"
	src="${plugins}/validation/additional-methods.min.js"></script>
<script type="text/javascript"
	src="${plugins}/validation/localization/messages_zh.min.js"></script>
<script  src="${system_js}/LodopFuncs.js"></script> 
<script src="${system_js}/layer.js"></script>
<script>

	$(function(){
		
		//自动添加投入量
		$("#reagentKit").change(function(){
			var reagentKitId=$(this).val();
			 $.ajax({
	             type: "GET",
	             url: "${base}/task/getTaskInputReagentKit.do?reagentKitId="+reagentKitId,
	             dataType: "text",
	             success: function(data){
	            	 var obj = jQuery.parseJSON(data);
	            	 $(".inputQuantity").val(obj.inputQuantity);
	            	 $("#reagentKitName").val(obj.reagentName);
	            	  $("#unit").val(obj.unit);
	             }
	         })
		});
		
		var flag;
		 var arr=[]
		 var a="";
		$(".index").focus(function(){//鼠标点进输入框，获取改变前的值 改变前的数组
			a=$(this).val();
				 console.log(a);
					 $(".index").each(function(){
						 arr.push($(this).val());
					 });
		}) 
			 $(".index").blur(function(){
					var b=$(this).val();
					console.log(b);
					console.log(arr);
					if($(".index").index($(this))!=0){//1、修改框不能是第一个框 $(".index").index($(this))当前dom在class="index"的下标
					if(a!=b){//2、修改前后内容不变，不执行提示
						 if($.inArray(b,arr)!=-1){//3、！=-1不存在重复值给出提示
							 alert("请不要输入重复的接头");
							 flag=false;
						 }
					}
					}
					arr=[];
					  });	
		
		
		$("#testingName").bsSuggest('init', {
			url : "${base}/user/userSelect.do?key=",
			getDataMethod : "url",
			idField : "id",
			keyField : "name",
			effectiveFields : [ "name" ],
			effectiveFieldsAlias : {
				name : "姓名"
			}
		}).on('onDataRequestSuccess', function(e, result) {

		}).on('onSetSelectValue', function(e, keyword, data) {
			$('#executer').val(data.id);
		}).on('onUnsetSelectValue', function() {
		});
		//质检责人下拉框
		$("#testingName0").bsSuggest('init', {
			url : "${base}/user/userSelect.do?key=",
			getDataMethod : "url",
			idField : "id",
			keyField : "name",
			effectiveFields : [ "name" ],
			effectiveFieldsAlias : {name : "姓名"}
		}).on('onDataRequestSuccess', function(e, result) {}).on('onSetSelectValue', function(e, keyword, data) {
			$('#QTExecuter').val(data.id);
		}).on('onUnsetSelectValue', function() {}) 
		
		if(flag!=false){
        $("#testing_task_form").validate({
        	submitHandler: function(form){
        		var values = new Array();
        		$("#testing_task_detail_table tr").each(function(index,object){
        			if(index > 0){
        				var tr = $(this);
        			    var data  = {};
        			    data.index=tr.find(".index").val();
        			    data.testingCode=tr.find(".testCode").text();   
        			    data.sourceSampleType=tr.find(".sourceSampleType").text();  
        			    data.sourceSampleCode=tr.find(".sourceSampleCode").text();
        			    data.products=tr.find(".products").text();
        			    data.targetSampleCode=tr.find(".targetSampleCode").text();
        			    data.InputQuantity=tr.find('.inputQuantity').val();
        			    data.notes=tr.find("getNotes").val();
        			    data.testingTaskId=tr.find(".testingTaskId").text();
        			    values.push(data);
        			}
        	         tscr={};
      			    tscr.sendName=$("#sendName").val();
      			    tscr.sendDate=$("#sendDate").val();
      			    tscr.testingName=$("#testingName").val();
      			    tscr.description=$("#description").val();
      			  var a="";
   			    $(".method").each(function(){
   			    	if ($(this).is(":checked")) {
   			    	a+=$(this).val()+",";
   			    	tscr.method= a;
   					}
   			    });
        		});
                var content=JSON.stringify(tscr);
        		$("#content").val(content);
        		var param=JSON.stringify(values);
        		$("#param").val(param);
        		console.info(param);
        		document.forms["testing_task_form"].submit();
        	},
            rules: {
            	testingName: "required",
            	testingName0: "required",
            	/* index: {
            	    required: true,
            	    number: true,
            	   }, */
            	method:"required"
            },
            messages: {
            	testingName: "请输入分配人员",
            	testingName0: "请输入质检任务负责人",
            /* 	index:{
            	    required: "请输入接头",
            	    number: "接头必须为数字"
            	   }, */
            	method:"请选择质检方法"
            },
            errorPlacement: function(error, element) {  
                error.appendTo(element.parent());  
            }
        });
		}
		
		var i=0;
		$(".btn").click( function(){
			if(i%2==0){
			$(this).parents(".getTr").after("<textarea class='form-control notes'  style='width: 1252%;' name='description' id='description' ></textarea>");
			$(this).parents(".getTr").next(".notes").val($(this).next().val());
			
			}else{
				$(this).next().val($(this).parents(".getTr").next(".notes").val());
				$(this).parents(".getTr").next(".notes").remove();
			}
			i++;
		} );
		
	})
	function closeModal(){
		parent.$('#full').modal('hide');
	}
</script>
</head>
<body>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="col-lg-12" style="margin-top: 30px">
			<form id="testing_task_form" class="form-horizontal m-t"
				action="${base}/testingTask/createTestTask" method="post"
				target="iframe0">
				<input type="hidden" name="param" id="param"></input> <input
					type="hidden" name="executer" id="executer"></input>
					<input	type="hidden" name="QTExecuter" id="QTExecuter"></input> 
					<input type="hidden"  name="content"  id="content"  ></input> 
					<input type="hidden"  name="outputQuantity"  id="outputQuantity" value="${(outputQuantity)!?html}" ></input> 
		            <input type="hidden"  name="InputQuantity"  id="InputQuantity"  value="${(InputQuantity)!?html}"></input> 
				    <input type="hidden"	name="unit" id="unit"></input>
					<input type="hidden"	name="reagentKitName" id="reagentKitName">
				<div class="form-group">
					<label id="code_label" class="col-sm-2 control-label">任务编号：</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="code" name="taskCode"
							value="${pagination.taskCode!?html}" readonly="readonly">
					</div>
					<label class="col-sm-2 control-label">实验负责人：</label>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="form-control" id="testingName"
								name="testingName">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label id="" class="col-sm-2 control-label ">任务下达人：</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="sendName"
							name="sendName" value="${(user.archive.name)!?html}"
							readonly="readonly">
					</div>
					<label id="" class="col-sm-2 control-label ">下达时间：</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="sendDate"
							name="sendDate" value="${sendDate!?html}" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label id="" class="col-sm-2 control-label ">试剂盒：</label>
					<div class="col-sm-3">
					<!-- 试剂盒Id 存入试剂盒Code中 -->
							<select class="form-control " id="reagentKit"
										name="reagentKitCode">
										<option value="">===请选择===</option>
										<#if rlist??> <#list rlist as reagent>
										<option value="${reagent.id!?html}">${reagent.reagentName!?html}</option>
										</#list> </#if> 
									</select>
					</div>
					<label class="col-sm-2 control-label">批次号：</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="batchNum"
								name="batchNum" value="">
						</div>
					<input type="hidden" name="semantic" id="semantic"
						value="${searcher.semantic!?html}"></input>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">投入次数：</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="batchNo"
							name="batchNo" value="${(pagination.testingTaskDetailList)?size}" readonly="readonly">
					</div>
					<label id="" class="col-sm-2 control-label control-required"><font
							id="testingName_label">质检负责人：</font></label>
						<div class="col-sm-3">
							<div class="input-group">
								<input type="text" class="form-control" id="testingName0"
									name="QTExecuterName">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle"
										data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu">
									</ul>
								</div>
							</div>
					    </div>
					</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">任务描述：</label>
					<div class="col-sm-10">
						<textarea class="form-control" name="description" id="description"
							value=""></textarea>
					</div>
				</div>
				<div class="form-group">	
				 <label class="col-sm-2 control-label control-required">质检方法：</label>
					<div class="col-sm-10" id="testMethod">
						  <#if searcher.semantic == "WK_CREATE">
									 <@dict_entries category="DNA_QC_METHOD">
				                     <#if entries??>
				                     <#list entries as entry>
				                     	<input type="checkbox" name="method" class="method" value="${entry.value!}" />${entry.text!?html}
				                     </#list>
				                     </#if>
				                    </@dict_entries>
				                   <#else>
								 	<@dict_entries category="RNA_QC_METHOD">
				                     <#if entries??>
				                     <#list entries as entry>
				                     	<input type="checkbox" name="method" class="method" value="${entry.value!}"  />${entry.text!?html}
				                     </#list>
				                     </#if>
				                    </@dict_entries>
						  </#if>
					</div>
			 </div>		
				<div class="col-md-10">
					<div class="form-group" style="padding-left: 188px">
						<div class="col-sm-3 ">
							<input type="submit" class="btn btn-primary" value="下达任务"></input>
						</div>
					</div>
					<table id="testing_task_detail_table"
						class="table table-striped table-bordered table-hover dataTables-example"
						style="margin-left: 15px;">
						<thead>
							<tr>
								<th>接头编号</th>
								<th>实验编号</th>
								<th>收样类型</th>
								<th>DNA编号</th>
								<th>DNA浓度</th>
								
								<th>比值</th>
								<th>检测产品</th>
								<th>文库编号</th>
								<th>投入量</th>
								<th>TE</th>
								<th>备注</th>
								<th style="display: none">工作流</th>
							</tr>
						</thead>
						<tbody>
							<#if pagination.testingTaskDetailList??> <#list
							pagination.testingTaskDetailList as record> <#if record_index==0>
							<tr class="getTr">
								<td><input type="text" class="form-control main index" name="index" 	style="width: 80px; display: initial"	onblur="chooseConnect(this)" /></td>
								<td class="testCode">${record.testCode!?html}</td>
								<td class="sourceSampleType">${record.sourceSampleType!?html}</td>
								<td class="sourceSampleCode">${record.sourceSampleCode!?html}</td>
								<td>DNA浓度</td>
								
								<td>260/280</td>
								<td class="products">${record.products!?html}</td>
								<td class="targetSampleCode">${record.targetSampleCode!?html}</td>
								<td class=""><input type="text" 
										id="" value="${(InputQuantity)!?html}" class="form-control checknull inAmount inputQuantity"
										 style="width: 80px; display: initial" /></td>
								<td>TE</td>
								<td><input class="btn" type="button" value="备注" /></input>
						        <input type="hidden"  name="notes" class="getNotes"	value="${record.notes!?html}"></td>		 
								<td class="testingTaskId" style="display: none">${record.testingTaskId!?html}</td>
							</tr>
							<#else>
							<tr class="getTr">
								<td><input type="text"  class="form-control connect index" style="width: 80px;display: initial" onblur="ifexit(this)"/></td>
								<td class="testCode">${record.testCode!?html}</td>
								<td class="sourceSampleType">${record.sourceSampleType!?html}</td>
								<td class="sourceSampleCode">${record.sourceSampleCode!?html}</td>
								<td>DNA浓度</td>
								
								<td>260/280</td>
								<td class="products">${record.products!?html}</td>
								<td class="targetSampleCode">${record.targetSampleCode!?html}</td>
								<td class=""><input type="text" 
										id="" value="${(InputQuantity)!?html}" class="form-control checknull inAmount inputQuantity"
										 style="width: 80px; display: initial" /></td>
								<td>TE</td>
								<td><input class="btn" type="button" value="备注" /></input>
						        <input type="hidden"  name="notes" class="getNotes"	value="${record.notes!?html}"></td>		 
								<td class="testingTaskId" style="display: none">${record.testingTaskId!?html}</td>
							</tr>
							</#if> </#list> </#if>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</body>
<script>
$("input[type='submit']").click(function (){

	$("#testing_task_form").submit();
})


function chooseConnect(obj){
	
	$.ajax({
        type: "GET",
        url: "${base}/connect/checkedconnectNum.do",
        data: {connectNum:$(obj).val()},
        dataType: "json",
        success: function(data){
if(data){
	alert($(obj).val()+'接头号不存在，请重新输入')
	$(obj).val("")
	
}
else{
	 $.ajax({
         type: "GET",
         url: "${base}/connect/ConnectListForWkcreate.do",
         data: {connectNum:$(obj).val(),pageSize:$(".connect").size()},
         dataType: "json",
         success: function(data){
        	$.each($(".connect"),function(index,obj1){
        		$(obj1).val(data[index].connectNum)
        	})
         },
         error: function(data){
        	 $(".connect").val("");
                 }
     })
}
        }
    })

}

function ifexit(obj){
	 $.ajax({
         type: "GET",
         url: "${base}/connect/checkedconnectNum.do",
         data: {connectNum:$(obj).val()},
         dataType: "json",
         success: function(data){
if(data){
	alert($(obj).val()+'接头号不存在，请重新输入')
	$(obj).val("")
	
}
         }
     })
}
</script>


</html>