<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.lims.maintain.mybatis.mapper.TestingReportViewMapper" >
  <resultMap id="BaseResultMap" type="com.todaysoft.lims.maintain.mybatis.model.TestingReportView" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="METHOD_ID" property="methodId" jdbcType="VARCHAR" />
    <result column="SAMPLE_ID" property="sampleId" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="ACTIVE_TASK" property="activeTask" jdbcType="VARCHAR" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="END_TYPE" property="endType" jdbcType="TINYINT" />
    <result column="VERIFY_TARGET" property="verifyTarget" jdbcType="VARCHAR" />
    <result column="SCHEDULE_NODES" property="scheduleNodes" jdbcType="VARCHAR" />
    <result column="SCHEDULE_OUTPUTS" property="scheduleOutputs" jdbcType="VARCHAR" />
    <result column="VERIFY_KEY" property="verifyKey" jdbcType="VARCHAR" />
    <result column="PROCCESS_STATE" property="proccessState" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="TestingSheetMap" type="com.todaysoft.lims.maintain.mybatis.model.TestingSheetModel" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TESTER_ID" property="testerId" jdbcType="VARCHAR" />
    <result column="TESTER_NAME" property="testerName" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.todaysoft.lims.maintain.mybatis.model.TestingReportView" >
    insert into LIMS_TESTING_REPORT_VIEW (ID, ORDER_ID, PRODUCT_ID, 
      METHOD_ID, SAMPLE_ID, START_TIME, 
      ACTIVE_TASK, END_TIME, END_TYPE, 
      VERIFY_TARGET, SCHEDULE_NODES, SCHEDULE_OUTPUTS, 
      VERIFY_KEY, PROCCESS_STATE)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{methodId,jdbcType=VARCHAR}, #{sampleId,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{activeTask,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}, #{endType,jdbcType=TINYINT}, 
      #{verifyTarget,jdbcType=VARCHAR}, #{scheduleNodes,jdbcType=VARCHAR}, #{scheduleOutputs,jdbcType=VARCHAR}, 
      #{verifyKey,jdbcType=VARCHAR}, #{proccessState,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.todaysoft.lims.maintain.mybatis.model.TestingReportView" >
    insert into LIMS_TESTING_REPORT_VIEW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="methodId != null" >
        METHOD_ID,
      </if>
      <if test="sampleId != null" >
        SAMPLE_ID,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="activeTask != null" >
        ACTIVE_TASK,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="endType != null" >
        END_TYPE,
      </if>
      <if test="verifyTarget != null" >
        VERIFY_TARGET,
      </if>
      <if test="scheduleNodes != null" >
        SCHEDULE_NODES,
      </if>
      <if test="scheduleOutputs != null" >
        SCHEDULE_OUTPUTS,
      </if>
      <if test="verifyKey != null" >
        VERIFY_KEY,
      </if>
      <if test="proccessState != null" >
        PROCCESS_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="methodId != null" >
        #{methodId,jdbcType=VARCHAR},
      </if>
      <if test="sampleId != null" >
        #{sampleId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeTask != null" >
        #{activeTask,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endType != null" >
        #{endType,jdbcType=TINYINT},
      </if>
      <if test="verifyTarget != null" >
        #{verifyTarget,jdbcType=VARCHAR},
      </if>
      <if test="scheduleNodes != null" >
        #{scheduleNodes,jdbcType=VARCHAR},
      </if>
      <if test="scheduleOutputs != null" >
        #{scheduleOutputs,jdbcType=VARCHAR},
      </if>
      <if test="verifyKey != null" >
        #{verifyKey,jdbcType=VARCHAR},
      </if>
      <if test="proccessState != null" >
        #{proccessState,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="getNotExistReportList" resultMap="BaseResultMap">
    SELECT
	  v.*
    FROM
	  LIMS_TESTING_REPORT_VIEW v
  left join LIMS_ORDER o on v.ORDER_ID=o.id
  WHERE
	NOT EXISTS (
		SELECT
			r.id
		FROM
			LIMS_TESTING_REPORT r
		WHERE
			v.ORDER_ID = r.order_id
		AND v.PRODUCT_ID = r.PRODUCT_ID
	) group by v.ORDER_ID,v.PRODUCT_ID
  </select>

  <select id="getSheetByOrderIdAndProjectId" resultMap="TestingSheetMap">
    SELECT
	sheet.ID,sheet.TESTER_ID,sheet.TESTER_NAME
    FROM
        LIMS_TESTING_SHEET sheet
    left join LIMS_TESTING_SHEET_TASK sheetTask on sheet.ID=sheetTask.SHEET_ID
    LEFT JOIN LIMS_TESTING_TASK task ON sheetTask.TESTING_TASK_ID = task.ID
    LEFT JOIN LIMS_TESTING_SCHEDULE_HISTORY sch ON task.ID = sch.TASK_ID
    LEFT JOIN LIMS_TESTING_SCHEDULE sc ON sc.ID = sch.SCHEDULE_ID
    WHERE
        sc.ORDER_ID = #{0}
    AND sc.PRODUCT_ID = #{1}
    AND task.SEMANTIC IN (
	'TECHNICAL-ANALY',
	'SANGER-DATA-ANALYSIS',
	'MLPA-DATA-ANALYSIS',
	'FLUO-ANALYSE',
	'DT-DATA-ANALYSIS'
  )
  </select>
</mapper>