<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />


<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${plugins}/jstree/themes/default/style.min.css" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">

</head>
<body class="gray-bg" >
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title" >
                       <ul id="myTab" class="nav nav-tabs">
						<li class="active">
							<a href="#sampleOut" data-toggle="tab">
								样本出库
							</a>
						</li>
						<li><a href="#sampleIn" data-toggle="tab">样本入库</a></li>
						
						
					</ul> 
                 
                    </div>
                </div>
                <div class="ibox ibox-table">
                  
                    <div >
                       
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="sampleOut">
	<iframe src="${base}/testingSheetSampleStorage/sampleOut_list.do" style="background: white; width: 100%; height: 750px; overflow: scroll;" frameborder="no" border="0"></iframe>
		
	</div>
	<div class="tab-pane fade" id="sampleIn">
		<iframe src="${base}/testingSheetSampleStorage/sampleIn_list.do" style="background: white; width: 100%; height: 850px; overflow: scroll;" frameborder="no" border="0"></iframe>
	</div>
	
</div>


                    </div>
                </div>
            </div>
        </div>
    </div>
     
 
 	<script type="text/javascript">
	 
 	</script>
</body>


 <script type="text/javascript" src="${system_js}/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" src="${plugins}/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
    <script type="text/javascript" src="${system_js}/system.js"></script>
    <script type="text/javascript" src="${system_js}/metadata.tree.js"></script>
    <script src="${plugins}/pagination/jquery.pagination.js"></script>
        <script type="text/javascript">
       
                <!--
                    $(function()
                    {
                        var opts = {};
                        opts.data_url = '${base}/metadata/types.do';
                        opts.metadata_url = '${base}/metadata/list.do';
                        
                        $.init(opts);
                       
                    });
                //-->
                </script>
    
</html>

