input, button, textarea, select {
    outline: 0;
}

figure {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:active {
    cursor: wait;
}

a img {
    border: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: 0;
}

.none {
    display: none !important;
}

.hidden {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.block {
    display: block !important;
}

.inline {
    display: inline !important;
}

.inline_block {
    display: inline-block !important;
}

.ft_normal {
    font-weight: normal !important;
}

.ft_bold {
    font-weight: bold !important;
}

.underline {
    text-decoration: underline !important;
}

.txt_c {
    text-align: center !important;
}

.txt_l {
    text-align: left !important;
}

.txt_r {
    text-align: right !important;
}

.lh_0 {
    line-height: 0 !important;
}

.lh_1 {
    line-height: 1 !important;
}

.lh_12 {
    line-height: 1.2 !important;
}

.lh_15 {
    line-height: 1.5 !important;
}

.v_middle {
    vertical-align: middle !important;
}

.m_center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.txt_black {
    color: black !important;
}

.txt_white {
    color: white !important;
}

.ft_xs {
    font-size: 0.625em;
}

.ft_sm {
    font-size: 0.75em;
}

.ft_default {
    font-size: 0.875em;
}

.ft_lg {
    font-size: 1em;
}

.ft_xl {
    font-size: 1.125em;
}

.ft_xxl {
    font-size: 1.25em;
}

.ft_xxxl {
    font-size: 1.5em;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis_2, .ellipsis_3, .ellipsis_4 {
    display: -webkit-box;
    display: box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.ellipsis_2 {
    -webkit-line-clamp: 2;
}

.ellipsis_3 {
    -webkit-line-clamp: 3;
}

.ellipsis_4 {
    -webkit-line-clamp: 4;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.cl_b {
    clear: both;
}

.cl_l {
    clear: left;
}

.cl_r {
    clear: right;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.pos_a {
    position: absolute !important;
}

.pos_r {
    position: relative !important;
}

.pos_s {
    position: static !important;
}

.border_box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content_box {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.cot_srolling {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.pd_0 {
    padding: 0 !important;
}

.pd_5 {
    padding: 5px !important;
}

.pd_10 {
    padding: 10px !important;
}

.pd_h0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pd_h5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pd_h10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pd_h15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pd_v5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pd_v10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pd_v15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.pd_v20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.mr_0 {
    margin: 0 !important;
}

.mr_10 {
    margin: 10px !important;
}

.mr_v0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mr_v5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.mr_v10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mr_v15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mr_v20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mr_t0 {
    margin-top: 0 !important;
}

.mr_t5 {
    margin-top: 5px !important;
}

.mr_t10 {
    margin-top: 10px !important;
}

.mr_t15 {
    margin-top: 15px !important;
}

.mr_t20 {
    margin-top: 20px !important;
}

.mr_t25 {
    margin-top: 25px !important;
}

.mr_t30 {
    margin-top: 30px !important;
}

.mr_t35 {
    margin-top: 35px !important;
}

.mr_t40 {
    margin-top: 40px !important;
}

.mr_t45 {
    margin-top: 45px !important;
}

.mr_t50 {
    margin-top: 50px !important;
}

.pd_t0 {
    padding-top: 0 !important;
}

.pd_t5 {
    padding-top: 5px !important;
}

.pd_t10 {
    padding-top: 10px !important;
}

.pd_t15 {
    padding-top: 15px !important;
}

.pd_t20 {
    padding-top: 20px !important;
}

.pd_t25 {
    padding-top: 25px !important;
}

.pd_t30 {
    padding-top: 30px !important;
}

.pd_t35 {
    padding-top: 35px !important;
}

.pd_t40 {
    padding-top: 40px !important;
}

.pd_t45 {
    padding-top: 45px !important;
}

.pd_t50 {
    padding-top: 50px !important;
}

.mr_r0 {
    margin-right: 0 !important;
}

.mr_r5 {
    margin-right: 5px !important;
}

.mr_r10 {
    margin-right: 10px !important;
}

.mr_r15 {
    margin-right: 15px !important;
}

.mr_r20 {
    margin-right: 20px !important;
}

.mr_r25 {
    margin-right: 25px !important;
}

.mr_r30 {
    margin-right: 30px !important;
}

.mr_r35 {
    margin-right: 35px !important;
}

.mr_r40 {
    margin-right: 40px !important;
}

.mr_r45 {
    margin-right: 45px !important;
}

.mr_r50 {
    margin-right: 50px !important;
}

.pd_r0 {
    padding-right: 0 !important;
}

.pd_r5 {
    padding-right: 5px !important;
}

.pd_r10 {
    padding-right: 10px !important;
}

.pd_r15 {
    padding-right: 15px !important;
}

.pd_r20 {
    padding-right: 20px !important;
}

.pd_r25 {
    padding-right: 25px !important;
}

.pd_r30 {
    padding-right: 30px !important;
}

.pd_r35 {
    padding-right: 35px !important;
}

.pd_r40 {
    padding-right: 40px !important;
}

.pd_r45 {
    padding-right: 45px !important;
}

.pd_r50 {
    padding-right: 50px !important;
}

.mr_b0 {
    margin-bottom: 0 !important;
}

.mr_b5 {
    margin-bottom: 5px !important;
}

.mr_b10 {
    margin-bottom: 10px !important;
}

.mr_b15 {
    margin-bottom: 15px !important;
}

.mr_b20 {
    margin-bottom: 20px !important;
}

.mr_b25 {
    margin-bottom: 25px !important;
}

.mr_b30 {
    margin-bottom: 30px !important;
}

.mr_b35 {
    margin-bottom: 35px !important;
}

.mr_b40 {
    margin-bottom: 40px !important;
}

.mr_b45 {
    margin-bottom: 45px !important;
}

.mr_b50 {
    margin-bottom: 50px !important;
}

.pd_b0 {
    padding-bottom: 0 !important;
}

.pd_b5 {
    padding-bottom: 5px !important;
}

.pd_b10 {
    padding-bottom: 10px !important;
}

.pd_b15 {
    padding-bottom: 15px !important;
}

.pd_b20 {
    padding-bottom: 20px !important;
}

.pd_b25 {
    padding-bottom: 25px !important;
}

.pd_b30 {
    padding-bottom: 30px !important;
}

.pd_b35 {
    padding-bottom: 35px !important;
}

.pd_b40 {
    padding-bottom: 40px !important;
}

.pd_b45 {
    padding-bottom: 45px !important;
}

.pd_b50 {
    padding-bottom: 50px !important;
}

.mr_l0 {
    margin-left: 0 !important;
}

.mr_l5 {
    margin-left: 5px !important;
}

.mr_l10 {
    margin-left: 10px !important;
}

.mr_l15 {
    margin-left: 15px !important;
}

.mr_l20 {
    margin-left: 20px !important;
}

.mr_l25 {
    margin-left: 25px !important;
}

.mr_l30 {
    margin-left: 30px !important;
}

.mr_l35 {
    margin-left: 35px !important;
}

.mr_l40 {
    margin-left: 40px !important;
}

.mr_l45 {
    margin-left: 45px !important;
}

.mr_l50 {
    margin-left: 50px !important;
}

.pd_l0 {
    padding-left: 0 !important;
}

.pd_l5 {
    padding-left: 5px !important;
}

.pd_l10 {
    padding-left: 10px !important;
}

.pd_l15 {
    padding-left: 15px !important;
}

.pd_l20 {
    padding-left: 20px !important;
}

.pd_l25 {
    padding-left: 25px !important;
}

.pd_l30 {
    padding-left: 30px !important;
}

.pd_l35 {
    padding-left: 35px !important;
}

.pd_l40 {
    padding-left: 40px !important;
}

.pd_l45 {
    padding-left: 45px !important;
}

.pd_l50 {
    padding-left: 50px !important;
}

html.um {
    height: 100%;
}

html.um body.um-vp {
    height: 100%;
}

.ub {
    display: -webkit-box !important;
    display: box !important;
    display: flex !important;
    position: relative;
}

.ub-con {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ub-fh {
    width: 100%;
}

.ub-fv {
    height: 100%;
}

.ub-rev {
    -webkit-box-direction: reverse;
    box-direction: reverse;
    flex-direction: row-reverse;
}

.ub-ver {
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
}

.ub-f1 {
    -webkit-box-flex: 1;
    box-flex: 1;
    flex: 1;
    position: relative;
}

.ub-pc {
    -webkit-box-pack: center;
    box-pack: center;
    justify-content: center;
}

.ub-pe {
    -webkit-box-pack: end;
    box-pack: end;
    justify-content: flex-end;
}

.ub-pj {
    -webkit-box-pack: justify;
    box-pack: justify;
    justify-content: space-between;
}

.ub-ac {
    -webkit-box-align: center;
    box-align: center;
    align-items: center;
}

.ub-ae {
    -webkit-box-align: end;
    box-align: end;
    align-items: flex-end;
}
