<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>生信注释</title>

<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${plugins}/jstree/themes/default/style.min.css"
	rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">


<style>
#L_REAGENT_PROBE_anchor {
	background-color: #e1e4e4
}
</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ibox-table">
					<div class="ibox-title">
						<h5>单例分析任务列表</h5>
					</div>
							<form id="search_from" action="${base}/testing/biologyAnnotationList.do" method="post" class="form-horizontal m-t">
							<div class="form-group">
									<div class="col-sm-2">
											<input type="text" class="form-control" placeholder="测序编号" name="sequencingCode" value="${(searcher.sequencingCode)!?html}">
									</div>
									<div class="col-sm-2">
										<input type="text" class="form-control" placeholder="订单编号" name="orderCode" value="${(searcher.orderCode)!?html}">
									</div>
									<div class="col-sm-2">
										<input type="text" id="start" class="form-control laydate-icon" name="createStartDate" placeholder="创建开始时间"
											   style="height: 34px" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
											   <#if searcher.createStartDate??>value="${(searcher.createStartDate)?string("yyyy-MM-dd")}"</#if> />
									</div>
									<div class="col-sm-2">
										<input type="text" id="end" class="form-control laydate-icon" name="createEndDate" placeholder="创建结束时间"
											   style="height: 34px" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
										<#if searcher.createEndDate??>value="${(searcher.createEndDate)?string("yyyy-MM-dd")}"</#if>/>
									</div>
									<div class="col-sm-2">
										<select class="form-control" name="annotationState" data-value="${(searcher.annotationState)!?html}">
											<option value="">--注释状态--</option>
											<option value="0">进行中...</option>
											<option value="1">过滤</option>
											<option value="2">比对</option>
											<option value="3">call突变</option>
											<option value="4">注释</option>
											<option value="5">结束</option>
											<option value="6">出现错误</option>
											<option value="7">打分中</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<select class="form-control" name="urgent" data-value="${(searcher.urgent)!?html}">
											<option value="">--是否加急--</option>
											<option value="0">不加急</option>
											<option value="1">加急</option>
										</select>
									</div>
									<div class="col-sm-2">
										<button type="submit" class="btn btn-sm btn-success">
											<i class="fa fa-search"></i> 查询
										</button>
										<button type="button" class="btn btn-sm btn-success" onclick="clearCondition('search_from')">
											<i class="fa fa-remove"></i> 清空
										</button>
									</div>
								</div>
							</form>
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="index">序号</th>
										<th>测序编号</th>
										<th>订单编号</th>
										<th>产品名称/位点</th>
										<th>样本号</th>
										<th>数据编号</th>
										<th>注释状态</th>
										<th>质控结果</th>
										<th>异常次数</th>
										<th>创建时间</th>
										<th>是否加急</th>
										<th>注释结果备注</th>
										<th class="flexible-btns">操作</th>
									</tr>
								</thead>
								<tbody>
									<#if pagination.list?has_content>
										<#list pagination.list as record>
											<tr>
												<td>${record_index + 1}</td>
												<td>${record.sequencingCode!?html}</td>
												<td>${record.orderCode!?html}</td>
												<td>${record.productName!?html}</td>
												<td>${record.sampleCode!?html}</td>
												<td>${record.dataCode!?html}</td>
												<td>
													<#if record.annotationState??>
														<#if record.annotationState==0>
															进行中...
														<#elseif record.annotationState==1>
															过滤
														<#elseif record.annotationState==2>
															比对
														<#elseif record.annotationState==3>
															call突变
														<#elseif record.annotationState==4>
															注释
														<#elseif record.annotationState==5>
															结束
														<#elseif record.annotationState==6>
															<font color="red">出现错误</font>
														<#elseif record.annotationState==7>
															打分中
														<#elseif record.annotationState==10>
															解析文件中...
														</#if>
													</#if>
												</td>

												<td>
													<#if record.statisticsState??>
														<#if record.statisticsState==0>
															合格
														<#else>
															<font color="red">不合格</font>
														</#if>
													</#if>
												</td>
												<td>${record.resubmitCount!?html}</td>
												<td>
													<#if record.startTime??>
														${(record.startTime)?string("yyyy-MM-dd HH:mm:ss")}
													</#if>
												</td>
												<td>
													<#if record.ifUrgent??>
														<#if record.ifUrgent == 1><font color="red">是</font></#if>
														<#if record.ifUrgent == 0>否</#if>
													</#if>
												</td>
												<td>
													${record.remark!?html}
												</td>
												<td>
													<#if record.annotationState??>
														<#if record.annotationState==6>
															<a href="${base}/testing/reAnalysisAnnotaionFile.do?taskId=${record.id}&type=1" class="btn btn-sm btn-success layer-confirm" data-confirm-message="确定要重新解析该单例注释文件吗?">
																<i class="fa fa-edit"></i>重新解析</a>
															<#else>
																<#if record.statisticsState??>
																	<#if record.statisticsState==1&&record.status ==0 && record.annotationState!= 10 >
																		<a href="#" onclick="failOperate('${record.id}','${record.sampleCode}')" class="btn btn-sm btn-success">
																			<i class="fa fa-edit"></i>处理</a>
																	</#if>
																</#if>
														</#if>
													</#if>
												</td>
											</tr>
										</#list>
										<#else>
											<tr>
												<td colspan="13">暂无单例分析任务</td>
											</tr>
										</#if>
								</tbody>
							</table>
							<#include "../../inc/pagination_mybaties.html" />
						</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="operate_dialog" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated bounceInRight"
				 style="width: 550px; margin-left: 160px; margin-top: 100px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span> <span class="sr-only">关闭</span>
						</button>
						<h4 class="modal-title">失败处理</h4>
					</div>
					<div class="modal-body">
						<div>
							<form action="#" method="post" class="search-form form-inline" id="remark_form">
								<input type="hidden" id="taskId" name="taskId" />
								<div style="width: 450px;">
									<div class="form-group">
										<label class="control-label">样本编号：</label>
										<input type="text" class="form-control" id="sampleCode" readonly/>
									</div>
									<div class="form-group">
										<label class="control-label">处理策略：</label>
										<input type="radio" class="form-control type" name="type" value="1" style="width: 15px;margin-bottom: 5px"/>改为合格
										<input type="radio" class="form-control type" name="type" value="2" style="width: 15px;margin-bottom: 5px"/>上报
										<input type="radio" class="form-control type" name="type" value="3" style="width: 15px;margin-bottom: 5px"/>重新生信注释
									</div>
									<div class="form-group">
										<label class="control-label">备注原因：</label>
										<textarea class="form-control" id="remark" name="remark" rows="3" cols="45"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="operate_button">确定</button>
						<button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
<script type="text/javascript" src="${system_js}/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
<script type="text/javascript" src="${system_js}/system.js"></script>
<script src="${plugins}/pagination/jquery.pagination.js"></script>
<script type="text/javascript" src="${plugins}/laydate/laydate.js"></script>
<script type="text/javascript">

	$(function(){
		$('#operate_button').on('click', function()
		{
			var taskId = $('#taskId').val();
			var type = $('input:radio[name=type]:checked').val();
			var remark = $('#remark').val();
			if('' == type || typeof(type)=="undefined"){
				parent.parent.layer.alert('请选择处理策略',{title:"提示"});
				return false;
			}else{
				$.ajax({
					type:"POST",
					dataType:"json",
					url: '${base}/testing/solveBiologyAnnotation.do',
					data:{
						taskId : taskId,
						type : type,
						remark : remark
					},
					async:false,
					success:function(data){
						$('#operate_dialog').modal('hide');
						window.location.reload();
					},
					error:function(){
						showTip("方法出错，请查看后台方法","错误");
					}
				});
			}
		});
	});


	function failOperate(taskId,sampleCode){
		$('#remark').val("");
		$('input:radio[name=type]').attr('checked',false);
		$('#sampleCode').val(sampleCode);
		$('#taskId').val(taskId);
		$('#operate_dialog').modal('show');
	}



</script>

</html>

