<tr>
    <td  class="col-sm-1"><input name="sampleCode" class="form-control checknull sampleCode" type="text" required></td>
    <td  class="col-sm-1"><input name="dataCode" class="form-control checknull dataCode" type="text" required></td>
    <td  class="col-sm-1"><input name="indexCode" class="form-control checknull indexCode" type="text" required></td>
    <td  class="col-sm-1"><a class="btn btn-sm btn-success remove" href="javascript:" style="background-color: rgb(235, 79, 56); border-color: rgb(235, 79, 56);"><i class="fa fa-trash"></i> 删除</a></td>
</tr>
