<tr>
	<td><img class="form-control collectionbtn"  data-toggle="modal"
		src=""
		alt=""  style="width:50px;height: 30px;  cursor: pointer;" 
		 >
	</td>
	<td>
	   <select class="form-control clinicalJudgment"  data-value="纯合缺失">
           <option value="纯合缺失">纯合缺失</option>
           <option value="杂合缺失">杂合缺失</option>
           <option value="重复">重复</option>
           <option value="未发现明显重复缺失">未发现明显重复缺失</option>
    	</select>
	</td>
	<td><input class="form-control id" type="hidden" value="" /> <input
		class="form-control gene" type="text" /></td>
	<td>
		<select class="form-control pathogenicLevel"  data-value="致病性变异">
			<option value="致病性变异">致病性变异</option>
			<option value="疑似致病性变异">疑似致病性变异</option>
			<option value="临床意义未明变异">临床意义未明变异</option>
		</select>
	</td>
	<td><input class="form-control missingArea" type="text" /></td>
	<td><input class="form-control exon" type="text" /></td>
	<td><input class="form-control inheritSource" type="text" /></td>
	<td><input class="form-control relatedDisease" type="text" /></td>
	<td><input class="form-control inhert" type="text" /></td>
	<td><a class="btn btn-sm btn-success remove" href="javascript:"
		style="background-color: rgb(235, 79, 56); border-color: rgb(235, 79, 56);"><i
			class="fa fa-trash"></i> 删除</a></td>
</tr>
