<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.lims.biology.mybatis.mapper.ClaimTemplateColumnMapper" >
  <resultMap id="BaseResultMap" type="com.todaysoft.lims.biology.model.entity.ClaimTemplateColumn" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TEMPLATE_ID" property="templateId" jdbcType="VARCHAR" />
    <result column="DATA_COLUMN_ID" property="dataColumnId" jdbcType="VARCHAR" />
    <result column="FILTER_NAME" property="filterName" jdbcType="VARCHAR" />
    <result column="DEFAULT_VALUE" property="defaultValue" jdbcType="VARCHAR" />
    <result column="COLUMN_INDEX" property="columnIndex" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TEMPLATE_ID, DATA_COLUMN_ID, FILTER_NAME, DEFAULT_VALUE, COLUMN_INDEX
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LIMS_CLAIM_TEMPLATE_COLUMN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LIMS_CLAIM_TEMPLATE_COLUMN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.todaysoft.lims.biology.model.entity.ClaimTemplateColumn" >
    insert into LIMS_CLAIM_TEMPLATE_COLUMN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="templateId != null" >
        TEMPLATE_ID,
      </if>
      <if test="dataColumnId != null" >
        DATA_COLUMN_ID,
      </if>
      <if test="filterName != null" >
        FILTER_NAME,
      </if>
      <if test="defaultValue != null" >
        DEFAULT_VALUE,
      </if>
      <if test="columnIndex != null" >
        COLUMN_INDEX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="dataColumnId != null" >
        #{dataColumnId,jdbcType=VARCHAR},
      </if>
      <if test="filterName != null" >
        #{filterName,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="columnIndex != null" >
        #{columnIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.todaysoft.lims.biology.model.entity.ClaimTemplateColumn" >
    update LIMS_CLAIM_TEMPLATE_COLUMN
    <set >
      <if test="templateId != null" >
        TEMPLATE_ID = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="dataColumnId != null" >
        DATA_COLUMN_ID = #{dataColumnId,jdbcType=VARCHAR},
      </if>
      <if test="filterName != null" >
        FILTER_NAME = #{filterName,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        DEFAULT_VALUE = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="columnIndex != null" >
        COLUMN_INDEX = #{columnIndex,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByTemplateId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LIMS_CLAIM_TEMPLATE_COLUMN
    where TEMPLATE_ID = #{templateId}
    order by COLUMN_INDEX
  </select>
  
  <delete id="deleteByTemplateId" parameterType="java.lang.String" >
    delete from LIMS_CLAIM_TEMPLATE_COLUMN
    where TEMPLATE_ID = #{templateId}
  </delete>
</mapper>