<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="${system_css}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="${system_css}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${system_css}/animate.min.css" rel="stylesheet">
<link href="${system_css}/style.min862f.css?v=4.1.0" rel="stylesheet">
<link href="${system_css}/lims.css?v=4.1.0" rel="stylesheet">
<script type="text/javascript">
</script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                            <li><a href="">返样申请管理</a></li>
                            <li class="active"><strong>返样申请处理</strong></li>
                            <div style="float: right;">
                                <a href="javascript:history.go(-1)" target="_self"
                                    style="padding: 0px; position: relative; right: 16px; float: right"> <img
                                    src="${system_images}/backbtn.png" style="height: 24px;" />
                                </a>
                            </div>
                        </ol>
                    </div>
                </div>
                 <form id="process_form" class="form-horizontal m-t" action="${base}/returnSample/create.do" method="post">
                 <fieldset>
                 <input type="hidden" value="${(sampleBackApply.id)!?html}" name="id">
                <div class="ibox ibox-table">
                    <div class="ibox-title">
                        <h5>申请信息</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th class="col-sm-1">申请编号：</th>
                                <td class="col-sm-1">${(sampleBackApply.code)!?html}</td>
                                <th class="col-sm-1">申请人：</th>
                                <td class="col-sm-1">${(sampleBackApply.applyName)!?html}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-1"><#if sampleBackApply.businessInfo??>申请部门：</#if></th>
                                <td class="col-sm-1">${dept!?html}</td>
                                <th class="col-sm-1">申请日期：</th>
                                <td class="col-sm-1"><#if (sampleBackApply.applyDate)??> ${(sampleBackApply.applyDate)?string('yyyy-MM-dd HH:mm:ss')}</#if></td>
                            </tr>
                           
                            <tr>
                                <th class="col-sm-1">返样形式：</th>
                                <td class="col-sm-1"><#if (sampleBackApply.backType)=='0'>原样<#else>原样和DNA</#if></td>
                                <th class="col-sm-1">返回途经：</th>
                                <td class="col-sm-1"><#if sampleBackApply.backChannel!='0'>快递<#else>自取</#if></td>
                            </tr>
                            <tr>
                                <th class="col-sm-1">接收人：</th>
                                <td class="col-sm-1">${(sampleBackApply.receiveName)!?html}</td>
                                <th class="col-sm-1">接收人电话：</th>
                                <td class="col-sm-1">${(sampleBackApply.receivePhone)!?html}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-2">返样地址：</th>
                                <td class="col-sm-2">${(sampleBackApply.backAddress)!?html}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-2">备注：</th>
                                <td class="col-sm-2">${(sampleBackApply.remark)!?html}</td>
                            </tr>
                        </table>
                        <div class="ibox-title">
                            <h5>样本清单</h5>
                        </div>
                        <#if sampleBackApply.map?has_content>
                        <#list sampleBackApply.map?keys as testKey>
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th class="col-sm-1">订单编号：</th>
                                <td class="col-sm-2">${testKey}</td>
                            </tr>
                        </table>  
                        <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>样本编号</th>
                                    <th>样本名称</th>
                                    <th>样本类型</th>
                                    <th>核酸浓度</th>
                                    <th>样本位置</th>
                                    <th>返样体积</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                         <#list sampleBackApply.map[testKey] as sampleBackRelation>
                            <tbody>
                            <input type="hidden" class="sampleId" value="${(sampleBackRelation.sampleId)!?html}" name="sampleBackProcessings[${sampleBackRelation_index}].sampleId" >
                            <td>${(sampleBackRelation.sampleCode)!?html}<input class='sampleCode' type="hidden" name="sampleBackRelations[${sampleBackRelation_index}].sampleCode" value="${(sampleBackRelation.sampleCode)!?html}" class="form-control"></td>
                            <td>${(sampleBackRelation.ownerName)!?html}</td>
                            <td>${(sampleBackRelation.sampleTypeName)!?html}</td>
                            <td></td>
                            <td>${(sampleBackRelation.locationCode)!?html}</td>
                            <td><input type="text" name="" value="" class="form-control volumn" data-rule-required="true" data-rule-number="true" data-msg-required="体积不能为空" data-msg-number="必须为数字">
                            	<input type="hidden" class="sampleSize" value="${((sampleBackRelation.sampleSize)!0)?string('0.##')}" /></td>
                            <td><input type="text" name="" value="" class="form-control remark"></td>
                            </tbody>
                             <#if sampleBackApply.backType=='1'>
                             <#if (sampleBackRelation.testingSample)??>
                             <tbody>
                              <input type="hidden" class="sampleId" value="${(sampleBackRelation.testingSample.id)!?html}" name="sampleBackRelations[${sampleBackRelation_index}].sampleId" >
                            <td>${(sampleBackRelation.testingSample.sampleCode)!?html}<input class='sampleCode' type="hidden" name="" value="${(sampleBackRelation.testingSample.sampleCode)!?html}" class="form-control"></td>
                            <td>${(sampleBackRelation.ownerName)!?html}</td>
                            <td>${(sampleBackRelation.testingSample.sampleTypeName)!?html}</td>
                            <td>${(sampleBackRelation.testingSample.dnaAttributes.concn)!?html}</td>
                            <td>${(sampleBackRelation.testingSample.locationCode)!?html}</td>
                            <td class="volumnTd"><input type="text" name="" value="" class="form-control volumn" data-rule-required="true" data-rule-number="true" data-msg-required="体积不能为空" data-msg-number="必须为数字" />
                            	<input type="hidden" class="sampleSize" value="${((sampleBackRelation.sampleSize)!0)?string('0.##')}" /></td>
                            <td><input type="text" name="" value="" class="form-control remark"></td>
                            </tbody>
                            </#if>
                            </#if>
                            </#list>
                            </table>
                            </#list>
                            </#if>
                            <div class="ibox-title">
                            <h5>寄送信息</h5>
                            </div>
                            <table class="table table-striped table-bordered table-hover">
                <#if sampleBackApply.backChannel!='0'>
                            <tr>
                    <th class="col-sm-1">寄件日期</th>
                    <td class="col-sm-2"><input  type="text"  required data-msg="寄件日期不能为空" 
                        class="form-control laydate-icon" name="sampleBackSendInfoList[0].sendDate"
                        placeholder="选择日期" readOnly="readOnly" style="height: 34px"
                        onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" />
                    </td>

                    <th class="col-sm-1">运输方式</th>
                    <td class="col-sm-2"><select class="form-control"  required data-msg="运输方式不能为空"
                        name="sampleBackSendInfoList[0].transportType" onchange="selectType(this)" >
                            <option value="">请选择</option> <@dict_entries
                            category="TRANSPORT_TYPE"> <#if entries??> <#list entries as
                            entry>
                            <#if entry.value!='0'>
                            <option value="${entry.value!}">${entry.text!?html}</option>
                            </#if>
                            </#list> </#if> </@dict_entries>
                    </select></td>
                </tr>
                <tr>
                    <th class="col-sm-1">快递单号</th>
                    <td class="col-sm-2"><input type="text" name="sampleBackSendInfoList[0].expressNo" required data-msg="快递单号必填"
                        class="form-control" /></td>
                    <th class="col-sm-1"></th>    
                    <td class="col-sm-2"><button class="btn btn-primary" onclick='getMaterial(this)'>扫码</button></td>
                </tr>
               
                <tr>
                    <th class="col-sm-1">寄件内容</th>
                    <td class="col-sm-2"><input type="text" name="sampleBackSendInfoList[0].sendGoods"
                        class="form-control" /></td>
                </tr>
                <#else>
                 <tr>
                     <th class="col-sm-1">领取人</th>
                    <td class="col-sm-2"><input type="text" name="sampleBackSendInfoList[0].recieveName"
                        class="form-control" /></td>
                    <th class="col-sm-1">领取人电话</th>
                    <td class="col-sm-2"><input type="text" name="sampleBackSendInfoList[0].recievePhone"
                        class="form-control" /></td>
                </tr>
                <tr>
                <th class="col-sm-1">领取日期</th>
                    <td class="col-sm-2"><input type="text"
                        class="form-control laydate-icon" name="sampleBackSendInfoList[0].recieveDate"
                        placeholder="选择日期" readOnly="readOnly" style="height: 34px"
                        onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" />
                    </td>
                </tr>
                </#if>
                            </table>
                     <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2 text-center">
                             <button type="button"  class="btn btn-primary " id="print">打印任务单</button>
                             <button type="submit"  class="btn btn-primary " id="check">提交</button>
                             <button class="btn btn-primary" type="button" onclick="history.go(-1)">返回</button>
                        </div>
                    </div>
                </div>
         </div>   
 </fieldset>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="${system_js}/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="${system_js}/bootstrap.min.js"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script src="${system_js}/jquery.form.js"></script>
<script src="${system_js}/magicsuggest-min.js"></script>
<script src="${system_js}/bootstrap.min.js?v=3.3.6"></script>
<script src="${plugins}/icheckbox/icheckbox.min.js"></script>
<script src="${system_js}/layer.js"></script>
<script type="text/javascript" src="${plugins}/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/additional-methods.min.js"></script>
<script type="text/javascript" src="${plugins}/validation/localization/messages_zh.min.js"></script>
<script type="text/javascript" src="${system_js}/system.js"></script>
<script src="${plugins}/laydate/laydate.js"></script>
<script src="${system_js}/bmm/sampleBackProcess.form.js"></script>
<script type="text/javascript">

</script>
<#include "./print_view.html" />
</html>